{% extends g.templates['master'] %}

{% do g.resource_manager.register_css('tickets/css/tickets.css', scope='tool') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.flot.js', scope='tool') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.flot.pie.js', scope='tool') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.flot.time.js', scope='tool') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.flot.selection.js', scope='tool') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.flot.resize.js', scope='tool') %}

{% do g.resource_manager.register_css('css/vf_stats.css', scope='tool') %}
{% do g.resource_manager.register_js('js/vf_stats.js', scope='tool') %}

{% block head %}{{ super() }}
{% endblock %}

{% block after_content %}{{ super() }}
    <div class="padded top-spaced">
    {% if c.aggregate_url %}
        <div id="stats-container">
            <div id="inline-stats-groups"></div>
            <div class="top-spaced">
                <button id="detailed-stats-button">Detailed Stats</button>
            </div>
            <div id="detailed-stats-container" class="top-spaced">
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block extra_js %}{{ super() }}
    <script>
        {% if c.aggregate_url %}
            $(function () {
                var searchURL = '{{ c.app.url }}search/search/',
                        $statsContainer = $('#stats-container'),
                        $inlineGroups = $('#inline-stats-groups'),
                        $detailedStatsContainer = $('#detailed-stats-container'),
                        makeTable = function (fieldName, label, dataset) {
                            var $container = $('<div/>').
                                            addClass('stats-detail-table-container'),
                                    $table = $('<table/>').
                                            addClass('vf-table').
                                            append($('<caption/>',
                                                    {text: label})).
                                            appendTo($container),
                                    $row;
                            $.each(dataset, function (i, datum) {
                                var mod = i % 2;
                                if (mod === 0) {
                                    $row = $('<tr/>').
                                            append($('<th/>').
                                                    append($('<a/>').
                                                            text(datum).
                                                            attr('title', 'Refine search query with this parameter').
                                                            attr('href', getRefinedQueryURL(fieldName + ':"' + datum + '"')))).
                                            appendTo($table);
                                } else {
                                    $('<td/>', {text: datum}).appendTo($row);
                                }
                            });
                            return $container;
                        },
                        getRefinedQueryURL = function (queryString) {
                            var newQ = decodeURIComponent(q);
                            if (newQ === '*:*') {
                                newQ = queryString;
                            }
                            else if (newQ.indexOf(queryString) === -1) {
                                newQ = q + '+AND+' + queryString;
                            }
                            return searchURL + '?q=' + newQ;
                        };
                $statsContainer.hide();
                $detailedStatsContainer.hide();
                $('#detailed-stats-button').
                        bind('click', function () {
                            $detailedStatsContainer.toggle();
                        });
                $.ajax({
                    url: '{{ c.aggregate_url }}',
                    success: function (data) {
                        var dataToShow = false,
                                fields = data['fields'],
                                facets = data['facets'];
                        $.each(fields, function (name, label) {
                            var fieldData =  facets.facet_fields[name], $group;
                            if (fieldData.length > 2) {
                                $group = $("<div/>").
                                        addClass('inline-stats-group').
                                        appendTo($inlineGroups);
                                $('<h3/>').
                                        text(label).
                                        appendTo($group);
                                $('<div/>').
                                        appendTo($group).
                                        vfStatsWidget({
                                            graphType: 'facet-pie',
                                            dataset: fieldData,
                                            clickable: true
                                        }).
                                        bind({
                                            'labelSelected.vfStats': function (e, context) {
                                                window.location.href = getRefinedQueryURL(name + ':"' + context.label + '"');
                                            }
                                        });
                                dataToShow = true;
                            }
                            if (fieldData.length > 0) {
                                makeTable(name, label, fieldData).appendTo($detailedStatsContainer);
                                dataToShow = true;
                            }
                        });
                        if (dataToShow) {
                            $statsContainer.show();
                        }
                    }
                });
            });
        {% endif %}
    </script>
{% endblock %}

{% block pageType %}TICKETS{% endblock %}
