{% extends 'vulcanforge:tools/admin/templates/master.html' %}

{% block title %}{{c.project.name}} / Screenshots{% endblock %}

{% block header %}Project Screenshots{% endblock %}

{% block content %}
  <div class="padded">
      {% if c.project.deleted %}
        <div class="notice">This project has been deleted and is not visible to non-admin users</div>
      {% endif %}
      {{c.screenshot_list.display(edit=g.security.has_access(c.project, 'update'), project=c.project)}}
      {% if g.security.has_access(c.project, 'update') %}
        {% if c.project.get_screenshots().__len__() < 6 %}
          {{c.screenshot_admin.display(action="add_screenshot")}}
        {% else %}
          <p>You may not have more than 6 screenshots.</p>
        {% endif %}
      {% endif %}
  </div>
{% endblock %}
