{% extends 'vulcanforge:tools/admin/templates/master.html' %}

{% do g.resource_manager.register_js('admin/projectAdminTutorial.js') %}

{% block title %}{{c.project.name}} / Admin{% endblock %}

{% block header %}Project Admin{% endblock %}

{% block content %}
    <div class="padded">
        <div id="tutorialHolder"></div>
        <p>{{ config.get('forge_name', 'Forge') }} projects come with a number
           of Tools, which can be configured and adjusted to your needs.  Add
            more tools using the <em>Tools</em> menu available in the sidebar.</p>
        <div class="project-admin-tools">
            {% for tool_setup in tool_setups %}
            <div class="admin-section-setup">
                <h3 class="content-section-header">{{ tool_setup.title }}</h3>
                <table>
                    <tbody>
                    <tr>
                        <td class="admin-setup-icon">
                            <img src="{{ tool_setup.icon.url }}" class="{{ tool_setup.icon.class_name }}" alt="">
                        </td>
                        <td class="admin-setup-content">
                            <p>{{ tool_setup.description }}</p>
                            {% if tool_setup.actions %}
                            <h4>Actions</h4>
                            <ul class="admin-special-links">
                                {% for a_text, url in tool_setup.actions.items() %}
                                    <li><a href="{{ url }}">{{ a_text }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
