{% extends g.templates['master'] %}
{% set has_related_artifacts = True %}

{% do g.resource_manager.register_css('visualize/vf_visualizer_embedder.scss') %}

{% block title %}
{{c.project.name}} / {{c.app.config.options.mount_label}}
{% endblock %}

{% block header %}
    {{lib.path_links(file_path.split('/')[:-1])}}{{file_path.split('/')[-1]}}
{% endblock %}

{% block actions %}{{ c.menu_bar.display(fd_file) }}{% endblock %}

{% block relatedArtifacts %}
    {{c.related_artifacts_widget.display(value=fd_file)}}
{% endblock %}

{% block content %}
<div class="fullHeightVisualizer">{{ rendered_file }}</div>
{% endblock %}

