{% extends g.templates['master'] %}

{% do g.resource_manager.register_css('artifact/artifact.scss') %}
{% do g.resource_manager.register_css('css/hilite.css') %}
{% do g.resource_manager.register_css('assets/filebrowser/filebrowserwidget.css') %}
{% do g.resource_manager.register_css('css/jquery.contextMenu.css', scope='tool') %}


{% do g.resource_manager.register_js('js/lib/jquery/jquery.qtip.js', scope='tool') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.ui.position.js', scope='tool') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.contextMenu.js', scope='tool') %}

{% do g.resource_manager.register_js('artifact/Artifact.js') %}
{% do g.resource_manager.register_js('js/lib/crypto.js') %}
{% do g.resource_manager.register_js('js/lib/md5.js') %}
{% do g.resource_manager.register_js('js/lib/resumable.js') %}
{% do g.resource_manager.register_js('assets/filebrowser/filebrowserwidget.js') %}
{% do g.resource_manager.register_js('downloads/DownloadsTutorial.js') %}

{% block extra_js %}
<script type="text/javascript">
    $vf.afterInit(function () {
        var restServicePath = "/rest{{c.app.config.url()}}content";
        var editable = {{ editable|lower }};

        $vf.createFolder = function(path, folderName){
            var fbWidget = $vf.fileBrowser;
            fbWidget.lockInterface("Working...");
            $.ajax({
                url: restServicePath + path,
                type: 'POST',
                data: {
                    _session_id: $.cookie('_session_id'),
                    'folder': folderName
                },
                dataType: "json",
                success: function () {
                    fbWidget.unlockInterface();
                    $vf.webflash();
                    fbWidget.refreshActivePath();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    fbWidget.unlockInterface();
                    $vf.ajaxErrorHandler(jqXHR, textStatus, errorThrown);
                }
            });
        };

        var uploadButton = $('<button>Upload File</button>').
                addClass('inline-icon ico-upload').
                attr('title', 'Upload File');

        $('#fileBrowserWidget').fileBrowser({
            assertions: true,

            pageTitleFormat: "{{ c.project.name }} / " +
                    "{{ c.app.config.options.mount_label }} / " +
                    "{path}",

            extraFields: ['size', 'creator', 'actions'],
            exportControlCompliance: {{ tg.config.get('exportcontrol.compliance', 'false') }},
            initialPath: '{{initial_path}}',
            contentRootPath: '{{content_root_path}}',
            canUpload: editable,
            canDelete: editable,
            uploadPath: '{{resumable_path}}',
            chunkSize: '{{g.multipart_chunk_size}}',
            uploadButton: uploadButton,

            getURLForPath: function (path) {
                var url = restServicePath;
                if (path.substring(0, 1) !== '/') {
                    url += '/';
                }
                url += $vf.uriEncodePath(path);
                return url;
            },

            getDeleteURLForPath: function (path) {
                var url = restServicePath;
                if (path.substring(0, 1) !== '/') {
                    url += '/';
                }
                url += $vf.uriEncodePath(path);
                return url;
            },

            getMoveUrlForPath: function (path) {
                var url = restServicePath;
                if (path.substring(0, 1) !== '/') {
                    url += '/';
                }
                url += $vf.uriEncodePath(path);
                return url;
            },

            getDataForPath: function (path, callback) {
                var i, actionList;
                var that = this;
                var url = restServicePath;
                if (path.substring(0, 1) !== '/') {
                    url += '/';
                }
                url += $vf.uriEncodePath(path);

                $.ajax({
                    url: url,
                    type: 'GET',
                    context: this,
                    dataType: 'json',
                    success: function(result) {
                        $.each(result, function (resultPath, resultItem) {
                            var xcngItem,
                                resultPath = $vf.htmlDecode(resultPath),
                                creatorItem;

                            actionList = $('<p/>');
                            if (editable && (resultItem.type != 'ZIP_CONTAINED_FILE' && resultItem.type != 'ZIP_DIR')){
                                $('<a/>', {
                                    'class': "ico-delete icon",
                                    'title': "Delete",
                                    'href': ""
                                }).on('click', function (e) {
                                            $vf.fileBrowser.deleteContent(resultPath);
                                    return false;
                                }).appendTo(actionList);
                            }
                            if (resultItem['downloadURL'] &&
                                    (resultItem.type == 'FILE' ||
                                    resultItem.type == 'ZIP_FILE' ||
                                    resultItem.type == 'ZIP_CONTAINED_FILE')
                            ){
                                $('<a/>', {
                                    'class': "ico-download icon",
                                    'title': "Download",
                                    'href': resultItem['downloadURL']
                                }).appendTo(actionList);
                            }
                            if (resultItem.type == 'FILE' || resultItem.type == 'ZIP_FILE'){
                                $('<a/>', {
                                    'class': "ico-document icon",
                                    'title': "Access log",
                                    'href': resultItem['accessLogURL']
                                }).appendTo(actionList);
                            }
                            if (resultItem.exchanges) {
                                for (i = 0; i < resultItem.exchanges.length; i++) {
                                    xcngItem = resultItem.exchanges[i];
                                    $('<a/>', {
                                        'class': "icon " + xcngItem.icon,
                                        'title': xcngItem.label,
                                        'href': xcngItem.href
                                    }).appendTo(actionList)
                                }
                            }
                            resultItem.extra.actions = actionList;

                            if (resultItem.extra.creator && resultItem.extra.creator.display_name && resultItem.extra.creator.url){
                                creatorItem = $('<a/>', {
                                    'href': resultItem.extra.creator.url,
                                    'text': resultItem.extra.creator.display_name
                                });
                                resultItem.extra.creator = creatorItem;
                            }
                        });
                        callback(result);
                    },
                    error: function(e){
                        //$vf.ajaxErrorHandler
                    }
                });
            },

            getResumableUploadUrl:function(file, params){
                var that = $vf.fileBrowser,
                    url = restServicePath,
                    path,
                    uploadEntry = that._getUploadDataForId(file.uniqueIdentifier);

                if (uploadEntry){
                    path = uploadEntry.getParentPath();
                } else {
                    path = that.getActivePath();
                    if (file.relativePath.indexOf("/") == 0){
                        path = that.getActivePath() +
                                file.relativePath.substring(1, file.relativePath.lastIndexOf("/") + 1);
                    }
                }
                if (path.substring(0, 1) !== '/') {
                    url += '/';
                }
                url += $vf.uriEncodePath(path);
                if (params.length > 0){
                    if(url.indexOf('?') < 0) {
                        url += '?';
                    } else {
                        url += '&';
                    }
                }
                return url + params.join('&');
            },

            alert: function (opt) {
                var message = typeof(opt) == 'string' ? opt : '';
                if (opt.title != undefined) {
                    message += opt.title + '\n\n';
                }
                if (opt.message != undefined) {
                    message += opt.message;
                }
                if (message.length > 0) {
                    alert(message);
                    window.location.href = this.contentRootPath+'/';
                }
            },

            folderOperations: [
                function (pathData) {
                    var $operationsContainer;
                    if (!editable) {
                        return false;
                    }
                    $operationsContainer = $('<div/>');

                    if (!pathData.isType('ZIP_FILE') && !pathData.isType('ZIP_DIR')){
                        uploadButton.appendTo($operationsContainer);

                        $('<button>New Folder</button>').
                                appendTo($operationsContainer).
                                addClass('inline-icon ico-plus').
                                attr('title', 'New Folder').
                                bind('click', function () {
                                    var modalContainer = $('<div/>', {
                                        title: 'New Folder'
                                    });
                                    var form = $('<form/>').appendTo(modalContainer);
                                    $('<label/>', {
                                        text: 'Folder name'
                                    }).appendTo(form);
                                    var input_field = $('<input/>', {
                                        type: 'text',
                                        name: 'folder_name',
                                        'id': 'folder_name'
                                    }).appendTo(form);
                                    form.bind('submit', function (e) {
                                        modalContainer.dialog("close");
                                        $vf.createFolder(pathData.path,
                                                input_field.val());
                                        e.preventDefault();
                                    });

                                    modalContainer.dialog({
                                        modal: true,
                                        resizable: false,
                                        width: 400,
                                        buttons: {
                                            Continue: function () {
                                                form.trigger('submit');
                                            },
                                            Cancel: function () {
                                                modalContainer.dialog("close");
                                            }
                                        },
                                        zIndex: 10501
                                    });

                                    return false;
                                });

                    }
                    return $operationsContainer;
                }
            ]
        });
    });
</script>
{{ super() }}
{% endblock %}

{% block title %}
{{ c.project.name }} / {{ c.app.config.options.mount_label }} /
{% endblock %}

{% block header %}
Browsing Content
{% endblock %}

{% block content %}
<div id="tutorialHolder"></div>
<div id="fileBrowserWidget"></div>
{% endblock %}

