{% if neighborhood %}
    <div id="toolBar">
        <ul class="links">
            <a href="{{neighborhood.url()}}" class="ui-icon-home">
                Home
            </a>
            {% if g.security.has_access(neighborhood, 'admin') %}
                <a href="{{neighborhood.url()}}_admin/"
                   class="ui-icon-tool-admin">
                    Admin
                </a>
            {% endif %}
            {% if g.security.has_access(neighborhood, 'admin') %}
                <a href="{{neighborhood.url()}}_moderate/" class="ui-no-icon">
                    Moderate
                </a>
            {% endif %}
            <div style="clear:both"></div>
        </ul>
    </div>
{% endif %}
