{% extends g.templates['polymer-user'] %}

{% block title %}{{ config.get('forge_name', 'User') }} dashboard{% endblock %}
{% block subheading_prefix %}{{ c.user.display_name }}{% endblock %}{% block subheading %}user&nbsp;dashboard{% endblock %}
{% block head %}

    <style is="custom-style">
        section {
            min-width: 400px;
        }
        input[type="text"] {
            color: black;
        }
        .organize-buttons {
            margin: 2rem 0 0 0;
        }
        .empty-message {
            color: var(--toptext);
            fill: var(--toptext);
            text-align: center;
        }
        .approve-button {
            color: var(--approve);
            fill: var(--approve);
        }
        .cancel-button,
        .deny-button {
            color: var(--danger);
            fill: var(--danger);
        }
        .cancel-button {
            margin-left: 39px;
        }
        .registration-request-email {
            color: #909090;
        }
        .info {
            font-size: 1em;
            font-style: italic;
            font-family: Ubuntu, Roboto, sans-serif;
            margin-top: -0.75em;
            margin-bottom: 2em;
        }
        .section-icon {
            margin-right: .5em;
        }
        .padded-icon {
            --iron-icon-height: 50px;
            --iron-icon-width: 50px;
            padding: 8px 14px;
            color: var(--interactive);
        }
        .stats-container {
            background-color: var(--diffuse);
            padding: .75em;
        }
        .stats-container.large {
            padding: 1.25em;
        }
        .stats-header {
            background-color: var(--subheadingbar);
            color: var(--pitch);
            padding: 4px;
            margin-top: 8px;
            font-family: Ubuntu, Roboto, sans-serif;
            font-variant: small-caps;
            font-size: 20px;
            border-bottom: 2px solid var(--pristine);
        }
        .invitations {
            margin-top: 30px;
        }
        #find-team {
            margin-right: 2px;
        }
        .badge {
            margin-left: 8px;
        }
        #search-submit {
            margin-left: 2px;
        }
        #search-files {
            margin-top: 3em;
        }
        #dataset-search {
            margin-top: 1em;
        }
        .request-label,
        .invite-label {
            margin-left: 4px;
        }
        paper-tooltip {
            --paper-tooltip: {
                font-size: 12px;
                font-weight: bold;
            }
        }
        @media (max-width: 480px), (max-width: 320px) {
            user-profile,
            section {
                min-width: 250px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    {% raw %}
    <dom-module id="section-control">
        <style include="style_base">
            .label {
                font-weight: 500;
                margin-left: 4px;
                color: var(--pristine);
                -moz-osx-font-smoothing: grayscale;
            }
            .link {
                text-decoration: none;
            }
            paper-button {
                display: block;
                margin: 0;
                padding: 0.3em 0.7em;
            }
            :host.organize-control paper-button {
                padding: 0.3em 0.57em;
            }
        </style>
        <template>
            <a href="[[url]]" tabindex="-1" class="link">
                <paper-button raised tabindex="-1">
                    <div class="container layout horizontal center-center">
                        <iron-icon icon="[[icon]]"></iron-icon>
                        <div class="label">[[label]]</div>
                    </div>
                </paper-button>
            </a>
        </template>
        <script>
            HTMLImports.whenReady(function () {
                Polymer({
                    is: "section-control",
                    properties: {
                        url: String,
                        icon: String,
                        label: String
                    }
                });
            });
        </script>
    </dom-module>

    <dom-module id="create-team">
        <style include="style_base">
            .label {
                font-weight: 500;
                margin-left: 4px;
                color: var(--pristine);
                -moz-osx-font-smoothing: grayscale;
            }
            paper-button {
                display: block;
                margin: 0;
                padding: 0.3em 0.7em;
            }
            :host.organize-control paper-button {
                padding: 0.3em 0.57em;
            }
        </style>
        <template>
            <paper-button raised tabindex="-1" on-tap="_showDialog">
                <div class="container layout horizontal center-center">
                    <iron-icon icon="[[icon]]"></iron-icon>
                    <div class="label">[[label]]</div>
                </div>
            </paper-button>
            <vf-project-create id="dialog" kind="Team" nonce="{{nonce}}"></vf-project-create>
        </template>
        <script>
            HTMLImports.whenReady(function () {
                Polymer({
                    is: "create-team",
                    properties: {
                        icon: String,
                        label: String,
                        nonce: String
                    },
                    _showDialog: function() {
                        this.$.dialog.showDialog();
                    }
                });
            });
        </script>
    </dom-module>

    <dom-module id="dashboard-settings">
        <style include="style_base">
            paper-tooltip {
                --paper-tooltip: {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            #prefs {
                margin-left: 0;
                margin-right: 2px;
            }
            paper-button {
                padding: 0.3em 0.57em;
            }
        </style>
        <template>
            <paper-button id="prefs" raised on-tap="_toggleMode"><iron-icon icon="[[_toggleIcon]]"></iron-icon></paper-button>
            <paper-tooltip for="prefs" position="right">[[_prefsTooltip]]</paper-tooltip>
        </template>
        <script>
            HTMLImports.whenReady(function () {
                Polymer({
                    is: "dashboard-settings",
                    properties: {
                        prefsMode: {
                            type: Boolean,
                            value: false
                        },
                        _toggleIcon: {
                            type: String,
                            computed: '_computeIcon(prefsMode)'
                        },
                        _prefsTooltip: {
                            type: String,
                            computed: '_computePrefsTooltip(prefsMode)'
                        }
                    },
                    _computeIcon: function(mode) {
                        return (mode) ? 'icons:save' : 'icons:settings';
                    },
                    _computePrefsTooltip: function(mode) {
                        return (mode) ? 'Save dashboard preferences' : 'Dashboard preferences';
                    },
                    _toggleMode: function() {
                        document.querySelector("vf-project-list").prefsSettings(this.prefsMode);
                        this.prefsMode = !this.prefsMode;
                    }
                });
             });
        </script>
    </dom-module>
    <dom-module id="user-profile">
        <style include="style_base">
            .section-icon {
                margin-right: .5em;
            }
            .padded-icon {
                --iron-icon-height: 50px;
                --iron-icon-width: 50px;
                padding: 8px 14px;
                color: var(--interactive);
            }
            .info {
                font-size: 1em;
                font-style: italic;
                font-family: Ubuntu, Roboto, sans-serif;
                margin-top: -0.75em;
                margin-bottom: 2em;
            }
        </style>
        <template>
            <iron-ajax url="[[url]]" last-response="{{data}}" auto></iron-ajax>
            <section class="paper-sheet small-margin small-padding flex">
                <h2 class="layout horizontal center-center">
                    <iron-icon class="padded-icon" src="{{icon}}" role="img"></iron-icon>
                    User Profile
                </h2>
                <div class="info layout horizontal center-center">Last online: {{_getLastLogin(lastlog)}}</div>
                <vf-user-profile url="{{url}}" min-password-length="{{minPasswordLength}}" static-url="{{staticUrl}}" nonce="{{nonce}}" data="{{data}}"></vf-user-profile>
            </section>
        </template>
        <script>
            HTMLImports.whenReady(function () {
                Polymer({
                    is: "user-profile",
                    properties: {
                        data: Object,
                        url: String,
                        staticUrl: String,
                        minPasswordLength: Number,
                        nonce: String,
                        icon: String,
                        name: String,
                        lastlog: String,
                        _avatar: {
                            type: Number,
                            value: 0
                        }
                    },
                    _getLastLogin: function(ts) {
                        return vffuncs.formatTime(ts);
                    }
                 });
             });
        </script>
    </dom-module>
{% endraw %}

    <div class="layout horizontal wrap">
        <section id="organize" class="paper-sheet small-margin small-padding layout vertical flex">
            <h2 class="layout horizontal center-center">
                <iron-icon class="section-icon" icon="social:group" role="img"></iron-icon>
                Organize
            </h2>
            <div class="info layout horizontal center-center">Access and manage your teams.</div>
            <vf-project-list url="/dashboard/projects_info/{{c.user.username}}" nonce="{{ h.get_csrf_value() }}"></vf-project-list>
            {% if invites|count > 0 %}
                <pending-info icon="social:people" title="Invitations" count="{{invites|count}}">
                {% for invite in invites %}
                    {% if invite['type'] == "user" %}
                        <div class="layout horizontal center">
                            {% if invite['can_read'] %}
                                <paper-button-link href="{{invite['project'].url()}}" class="flex">
                                    <div class="layout horizontal center left-justify flex">
                                        <iron-icon src="{{invite['project'].icon_url}}"></iron-icon>
                                        <span class="invite-label">
                                        {{invite['project'].name}}
                                        <paper-tooltip position="right">Visit team</paper-tooltip>
                                        </span>
                                    </div>
                                </paper-button-link>
                            {% else %}
                                <paper-button noink class="flex">
                                    <div class="layout horizontal center left-justify flex">
                                        <iron-icon icon="social:people"></iron-icon>
                                        <span class="invite-label">
                                        {{invite['project'].name}}
                                        <paper-tooltip position="right">Team is private</paper-tooltip>
                                        </span>
                                    </div>
                                </paper-button>
                            {% endif %}
                            <a href="/dashboard/invitation_accept/{{ invite.id }}" class="approve-button">
                                <paper-icon-button icon="thumb-up"></paper-icon-button>
                                <paper-tooltip position="left">Accept</paper-tooltip>
                            </a>
                            <a href="/dashboard/invitation_decline/{{ invite.id }}" class="deny-button">
                                <paper-icon-button icon="thumb-down"></paper-icon-button>
                                <paper-tooltip position="left">Decline</paper-tooltip>
                            </a>
                        </div>
                    {% elif False %}
                        <div class="layout horizontal center">
                            <paper-button-link href="{{invite['project'].url()}}" class="flex">
                                <div class="layout horizontal center left-justify flex">
                                    <iron-icon src="{{invite['project'].icon_url}}"></iron-icon>
                                    <span class="invite-label">
                                    {{invite['project'].name}}
                                    <paper-tooltip position="right">Inviting Team</paper-tooltip>
                                    </span>
                                </div>
                            </paper-button-link>
                            <paper-button-link href="{{invite['user'].url()}}" class="flex">
                                <div class="layout horizontal center left-justify flex">
                                    <iron-icon src="{{invite['user'].icon_url()}}"></iron-icon>
                                    <span class="invite-label">
                                    {{invite['user'].display_name}}
                                    <paper-tooltip position="right">Invited User</paper-tooltip>
                                    </span>
                                </div>
                            </paper-button-link>
                            <a href="/dashboard/invitation_rescind/{{ invite.id }}" class="cancel-button">
                                <paper-icon-button icon="cancel"></paper-icon-button>
                                <paper-tooltip position="left">Cancel</paper-tooltip>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                </pending-info>
            {% endif %}
            {% if mrequests|count > 0 %}
                <pending-info icon="social:people" title="Membership Requests" count="{{mrequests|count}}">
                {% for request in mrequests %}
                    {% if request['type'] == "user" %}
                        <div class="layout horizontal center">
                            {% if request['can_read'] %}
                                <paper-button-link href="{{request['project'].url()}}" class="flex">
                                    <div class="layout horizontal center left-justify flex">
                                        <iron-icon src="{{request['project'].icon_url}}" role="img"></iron-icon>
                                        <span class="request-label">
                                        {{request['project'].name}}
                                        <paper-tooltip position="right">Visit team</paper-tooltip>
                                        </span>
                                    </div>
                                </paper-button-link>
                            {% else %}
                                <paper-button noink class="flex">
                                    <div class="layout horizontal center left-justify flex">
                                        <iron-icon icon="social:people" role="img"></iron-icon>
                                        <span class="request-label">
                                        {{request['project'].name}}
                                        <paper-tooltip position="right">Team is private</paper-tooltip>
                                        </span>
                                    </div>
                                </paper-button>
                            {% endif %}
                            <a href="/dashboard/membership_request_rescind/{{ request.id }}" class="cancel-button">
                                <paper-icon-button icon="cancel"></paper-icon-button>
                                <paper-tooltip position="left">Cancel</paper-tooltip>
                            </a>
                        </div>
                    {% elif False %}
                        <div class="layout horizontal center">
                            <paper-button-link href="{{request['project'].url()}}" class="flex">
                                <div class="layout horizontal center left-justify flex">
                                    <iron-icon src="{{request['project'].icon_url}}" role="img"></iron-icon>
                                    <span class="request-label">
                                    {{request['project'].name}}
                                    <paper-tooltip position="right">Requested team</paper-tooltip>
                                    </span>
                                </div>
                            </paper-button-link>
                            <paper-button-link href="{{request['user'].url()}}" class="flex">
                                <div class="layout horizontal center left-justify flex">
                                    <iron-icon src="{{request['user'].icon_url()}}" role="img"></iron-icon>
                                    <span class="request-label">
                                    {{request['user'].display_name}}
                                    <paper-tooltip position="right">Requesting user</paper-tooltip>
                                    </span>
                                </div>
                            </paper-button-link>
                            <a href="/dashboard/membership_request_accept/{{ request.id }}" class="approve-button">
                                <paper-icon-button icon="thumb-up"></paper-icon-button>
                                <paper-tooltip position="left">Accept</paper-tooltip>
                            </a>
                            <a href="/dashboard/membership_request_decline/{{ request.id }}" class="deny-button">
                                <paper-icon-button icon="thumb-down"></paper-icon-button>
                                <paper-tooltip position="left">Decline</paper-tooltip>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                </pending-info>
            {% endif %}
            <div class="organize-buttons layout horizontal center-center wrap">
                <dashboard-settings></dashboard-settings>
                <section-control id="find-team"  class="organize-control flex" url="/dashboard/teams" icon="social:group" label="Join"></section-control>
                <create-team class="organize-control flex" icon="social:group-add" label="Create" nonce="{{ h.get_csrf_value() }}"></create-team>
            </div>
        </section>
        <user-profile url="{{user.url()}}profile/userinfo" nonce="{{ h.get_csrf_value() }}" icon="{{user.icon_url()}}"
                      min-password-length="{{tg.config.get('auth.pw.min_length', 10)}}" static-url="{{g.resource_manager.absurl('')}}"
                      name="{{user.display_name}}" lastlog="{{lastLog}}"
                      class="paper-sheet small-padding small-margin flex"></user-profile>
        <section id="activity" class="paper-sheet small-margin small-padding flex">
            <h2 class="layout horizontal center-center">
                <iron-icon class="padded-icon" icon="vaadin-icons:time-forward" role="img"></iron-icon>
                Activity
            </h2>
            <div class="info layout horizontal center-center">View your recent activity.</div>
            <vf-user-activity-list url="{{user.url()}}profile/activity"></vf-user-activity-list>
        </section>
    </div>
{% endblock %}
{% block extra_js %}
{{ super() }}
{% endblock %}