{% extends g.templates['master'] %}

{% block title %}Make an Announcement{% endblock %}
{% block header %}Make an Announcement{% endblock %}

{% block content %}
    {{ c.form.display(value=form_values) }}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function () {
            var waitMsg = "<h3>Please Wait</h3>" +
                "<progress></progress>" +
                "<p>Please wait while your message is being sent...</p>" +
                "<p>This may take a few minutes depending on the number of recipients you have selected.</p>";
            $('#messageForm').
                bind('submit', function () {
                    var $form = $(this);
                    $form.
                        fadeOut().
                        queue(function () {
                            $('<div>').
                                addClass('advice-container').
                                html(waitMsg).
                                hide().
                                insertAfter($form).
                                fadeIn();
                            $(this).dequeue();
                        });
                });
        });
    </script>
{% endblock %}
