.chart-container {
  width: 800px;
  height: 320px;
  margin-left: 50px;
}

.chart-title {
  text-decoration: underline;
  text-transform: uppercase;
}

.chart-long-x-label {
    display: block;
    padding: 0 1em;
}


.ganttViewContainer {
    margin: 1rem;
    padding: 0.1rem;
    border: 2px solid #666;
}

.ganttViewItem {
    position: relative;
    margin: 0.25rem;
}

.ganttViewItemLabel {
    position: relative;
    display: block;
    padding: 0.25rem;
    z-index: 10;
    color: #444;
}

.ganttViewItemBar {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #cfe6f9;
    border-radius: 2px;
    border: 1px solid #a3cef7;
    z-index: 9;
}
