<!DOCTYPE html>
<html lang="en">
{% import 'vulcanforge.common:templates/jinja_master/lib.html' as lib with context %}
{% import g.templates['macros'] as theme_macros with context %}

{# *********************** These are VF CSSs ********************************************** #}
{% do g.resource_manager.register_css('css/hilite.css', scope='forge') %}
{% do g.resource_manager.register_css('css/core.scss', scope='forge') %}
{% do g.resource_manager.register_css('artifact/artifact.scss', scope='forge') %}
{% do g.resource_manager.register_css('artifact/subscription_popup_menu.scss', scope='forge') %}

{% do g.resource_manager.register_css('notification/notify.css', scope='forge') %}
{% do g.resource_manager.register_css('assets/workspace/workspace.scss', scope='forge') %}
{% do g.resource_manager.register_css('assets/tutorial/tutorial.scss', scope='forge') %}

{% do g.resource_manager.register_css('css/progress-polyfill.css', scope='forge') %}
{% do g.resource_manager.register_css('theme/css/theme.scss', scope='forge') %}
{% do g.resource_manager.register_css('websocket/vf_websocket_chat.css', scope='forge') %}

{# *********************** These are original Allura scripts ********************************* #}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.1.7.2.min.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery-ui.1.10.3.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.notify.js', scope='forge') %}

{% do g.resource_manager.register_js('js/allura-plugins.js', scope='forge') %}
{% do g.resource_manager.register_js('js/allura-base.js', scope='forge') %}

{# *********************** These are VF scripts ********************************************** #}
{% do g.resource_manager.register_js('js/lib/utils.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/raphael/raphael.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.ui.idle-logout.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.scrollTo.min.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.updateFromJSON.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.relativeDate.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/rotate.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.nicescroll.min.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.textarea.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.lightbox_me.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.redirect.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.idletimer.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/json/json2.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/progress-polyfill.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/underscore-min.js', scope='forge') %}
{% do g.resource_manager.register_js('js/vf.js', scope='forge') %}
{% do g.resource_manager.register_js('js/masternav.js', scope='forge') %}
{% if g.websocket_enabled %}
    {% do g.resource_manager.register_js('websocket/vf_websocket.js', scope='forge') %}
    {% do g.resource_manager.register_js('websocket/vf_websocket_chat.js', scope='forge') %}
{% endif %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.qtip.js', scope='forge') %}
{% do g.resource_manager.register_js('artifact/Artifact.js', scope='forge') %}
{% do g.resource_manager.register_js('artifact/subscription_popup_menu.js', scope='forge') %}
{% do g.resource_manager.register_js('assets/workspace/Workspace.js', scope='forge') %}
{% do g.resource_manager.register_js('assets/tutorial/Tutorial.js', scope='forge') %}
{% do g.resource_manager.register_js('auth/userid.js', scope='forge') %}


{% do g.resource_manager.register_widgets(c) %}
{# *********************** Initializing bodyclasses ********************************************** #}
{% if bodyClasses is undefined %}
{% set bodyClasses = [] %}
{% endif %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>{% block title %}{% endblock %}{{ g.title_postfix }}</title>

    <link rel="icon" href="{{ g.resource_manager.absurl(g.favicon_path) }}" />

    {% for blob in g.resource_manager.emit('css') %}
    {{ blob }}
    {% endfor %}

    {% block head_extra %}{% endblock %}
</head>
<body class="{{ bodyClasses|join(' ') }} {% if not hide_project_toolbar and c.project %}has-project-toolbar {% endif %}{% if session['userid'] %}authenticated {% endif %}{% if not hide_sidebar %} has-sidebar{% endif %}{% if has_related_artifacts %} has-related-artifacts{% endif %}"
      data-pagetype="{% block pageType %}default{% endblock %}"
      data-pagetitle="{% block pageTitle %}{% endblock %}"
      data-user="{% if c.user._id %}authenticated{% else %}anonymous{% endif %}"
      data-title-postfix="{{ g.title_postfix }}">

<div id="forge-toolbar-popup-menu-viewport"></div>

<div id="header-wrapper">
    <div id="header-primary-toolbar" class="toolbar-container">
        <div class="masternav toolbar-item toolbar-item-stretchy" data-url="/rest/webapi/navdata">
            <ul class="masternav-context-items"></ul>
        </div>
        <div id="global-search" class="toolbar-item toolbar-item-margin">
            <form id="keyword-search-form" action="/search/" method="get">
                <input id="global-search-field" {% if not c.search_query %} class="empty" {% endif %} name="q" type="text" value="{{c.search_query}}" title="Click to enter search keyword"/>
            </form>
        </div>
        {% if c.user._id %}
            <div id="vf-bookmarks-menu-button" class="toolbar-item toolbar-item-button toolbar-icon ico-bookmark" title="Bookmarks">
                <span class="hidden">Bookmarks</span>
            </div>
            <div id="vf-user-menu-button" class="toolbar-item toolbar-item-button toolbar-icon" data-counter="10">
                <img src="{{ c.user.icon_url() }}" class="x24 ico-user"/>
            </div>
            <div id="vf-user-menu-content" class="popup-menu-content-prerendered">
                <div class="popup-menu-items-container">
                    <div class="popup-menu-item popup-menu-item-link">
                        <a href="{{ c.user.url() }}" class="inline-icon ico-user">View Profile</a>
                    </div>
                    <div class="popup-menu-item popup-menu-item-link">
                        <a href="/dashboard" class="inline-icon ico-activity">Activity Feed</a>
                    </div>
                    <div class="popup-menu-item popup-menu-item-link" data-counter="10">
                        <a href="/dashboard/messages" class="inline-icon ico-inbox">Conversations</a>
                    </div>

                    <div class="popup-menu-item-seperator"></div>

                    <div class="popup-menu-item popup-menu-item-link">
                        <a href="{{ c.user.url() }}profile/edit_profile" class="inline-icon ico-edit">Edit Profile</a>
                    </div>
                    <div class="popup-menu-item popup-menu-item-link">
                        <a href="/auth/prefs" class="inline-icon ico-wrench">Preferences</a>
                    </div>
                    <div class="popup-menu-item popup-menu-item-link">
                        <a href="/auth/prefs/subscriptions" class="inline-icon ico-mail">Subscriptions</a>
                    </div>

                    <div class="popup-menu-item-seperator"></div>

                    <div class="popup-menu-item popup-menu-item-link">
                        <a href="/auth/logout" class="inline-icon ico-logout">Log Out</a>
                    </div>
                </div>
            </div>
        {% else %}
            <a href="{{ g.user_register_url }}" class="toolbar-item toolbar-item-button">Register</a>
            <a href="{{ g.login_url }}" class="toolbar-item toolbar-item-button">Log In</a>
        {% endif %}
    </div>

{#    <div id="workspace-tab-bar-container" class="workspace-tab-bar-container"></div>#}
    {% if not g.production_mode %}
{#     <div id="dev-mode-banner">development mode</div>#}
    {% endif %}
</div>

<!-- // header-wrapper -->
<div id="content-areas-wrapper">
    <div id="main-content-holder">
        {% block main_content_holder %}
        <div id="content-columns"{% if hide_header %} style="padding-top:0px;"{% endif %}>
        <div id="main-column" class="main-column">
            {% block mainTop %}{% endblock %}
            <!-- HERE COMES THE MAIN CONTENT -->
            {% if not hide_header %}
            <div id="main-column-header">
                <section id="tool-search">
                    {% if c.app and c.app.searchable %}
                    <form method="GET" action="{{c.app.url + 'search/search/'}}" id="tool-search-form">
                        <input name="tool_q" type="text"
                               title="Search {{c.app.config.options.mount_point.title()}}"
                               placeholder="Search {{c.app.config.options.mount_point.title()}}"
                               id="tool-search-form-input">
                    </form>
                    {% endif %}
                </section>
                <nav class="content-actions">
                    {% block actions %}{% endblock %}
                </nav>
                <h2>{% block header %}{% endblock %}</h2>
                {% block relatedArtifacts %}{% endblock %}
            </div>
            {% endif %}
            <!-- BLOCK EDIT BOX -->
            {% block edit_box %}{% endblock %}
            <!-- BLOCK BEFORE CONTENT -->
            {% block before_content %}{% endblock %}
            <!-- BLOCK CONTENT -->
            {% block content %}{% endblock %}
            <!-- BLOCK AFTER CONTENT -->
            {% block after_content %}{% endblock %}
        </div>
        {% if not hide_sidebar %}
        <div id="sidebar" class="sidebar">
            <!-- SIDEBAR CONTENT -->
            {% block sidebar_menu %}
            {% include g.templates['sidebar_menu'] %}
            {% endblock %}

        </div>
        {% endif %}
    </div>
    {% endblock %}
</div>
{% if session['userid'] and c.user.get_swift_cookies %}
<div style="position: absolute; left: -10000px;"><iframe name="invisiframe" src="{{ c.user.swift_cookie_url() | safe}}"></iframe></div>
{% endif %}
</div>
{% block footer %}
<div id="footer">
    <ul class="links">
        <li><a href="/forge_global/Terms/" title="Terms">Terms</a></li>
        <li><a href="/forge_global/Contact/" title="Contact">Contact</a></li>
        <li><a href="/forge_global/About/" title="About">About</a></li>
        <li><a href="/forge_global/Technology/" title="Technology">Technology</a></li>
        <li><a href="/forge_global/VF-Team/" title="VF-Team">VF-Team</a></li>
    </ul>
    <div id="copyRight" class="links">
        &copy; {{ g.year() }}. Sponsored by <a href="http://www.darpa.mil/" title="DARPA" target="_blank">DARPA</a>.
        Developed at <a href="http://www.isis.vanderbilt.edu/" title="ISIS" target="_blank">ISIS</a>.
    </div>
</div>
{% endblock %}
<div id="bottom-bg-container"></div>
<div id="messages"></div>
{% if c.user._id %}
<div id="referenceBinContainer"></div>
{% endif %}

<script language="JavaScript">
    var DEBUG = {{ 'true' if not g.production_mode else 'false'}},
        $vf = {};
    $vf.nav_context = [];
    {% if c.app %}
        $vf.nav_context.push('{{ c.neighborhood.url_prefix }}');
        $vf.nav_context.push('{{ c.project.shortname }}');
        $vf.nav_context.push('{{ c.app.config.options.mount_point }}');
    {% elif c.project %}
        $vf.nav_context.push('{{ c.neighborhood.url_prefix }}');
        $vf.nav_context.push('{{ c.project.shortname }}');
    {% elif c.neighborhood %}
        $vf.nav_context.push('{{ c.neighborhood.url_prefix }}');
    {% endif %}
</script>

{% for blob in g.resource_manager.emit('js') %}
{{ blob }}
{% endfor %}
{% set flash = tg.flash_obj.render('flash', use_js=False) %}
{% if flash %}
<script type="text/javascript">{{flash | safe}}</script>
{% endif %}

{% block extra_js %}{% endblock %}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var referenceBinReferences=[], workspaceTabs=[], userURL = null, referenceBinConfig;
        $vf.resourceURL = '{{ g.resource_manager.absurl('') }}';
        $vf.idle_logout_enabled = {% if g.idle_logout_enabled %}true{% else %}false{% endif %};
        $vf.idle_logout_minutes = {{ g.idle_logout_minutes }};
        $vf.idle_logout_countdown_seconds = {{ g.idle_logout_countdown_seconds }};
        $vf.vf_guidebook_location = {% if g.vf_guidebook_location %} '{{ g.vf_guidebook_location }}' {% else %} null {% endif %};
        $vf.trustforge_enabled = {% if g.trustforge_enabled %}true{% else %}false{% endif %};

        {% if session['userid'] %}
            $vf.logged_in_as = "{{c.user.username}}";
            {% for n in h.pop_user_notifications() %}
                $('#messages').notify("{{ n.text }}");
            {% endfor %}
            referenceBinConfig = {{c.user.get_workspace_references() | jsonify}};
            workspaceTabs = {{c.user.workspace_tabs | jsonify}};
            userURL = '{{c.user.url()}}';
        {% else %}
        $vf.logged_in_as = null;
        {% endif %}
        $vf.init(userURL, workspaceTabs, referenceBinConfig);
    });
</script>
{% if not hide_header %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#main-column-header').scrollHide();
    });
</script>
{% endif %}

{% if g.production_mode and g.analytics %}{{g.analytics.display()}}{% endif %}

</body>
</html>
