tags
*.db
*.egg-info
*-py2.6.egg
*.log
*.pyc
*.orig
*.coverage
*,cover
*.idea
*.nja
.coverage*
*~
*.swp
.dbshell
mail/logs/*
sandbox-env/*
download/*
install/*
*/.test-data/*
*/.coverage
solr_config/core0/data/
solr_config/core1/data/
var/
.nose-stopwatch-times
.noseids
env
/VulcanForge/journal
/VulcanForge/docs/_build/*
scripts/teamforge-export/
.DS_Store
.fuse_hidden*
# added from previous top-level
Icon?
._*
.Spotlight-V100
.Trashes
.swo
fabfile*
*_images-*
_test_results_
