appdirs==1.4.3
Babel==2.4.0
backports.shutil-get-terminal-size==1.0.0
Beaker==1.8.1
BeautifulSoup==3.2.1
bleach==2.0.0
boto==2.24.0
chardet==3.0.3
crank==0.8.1
cssmin==0.2.0
decorator==4.0.11
docutils==0.9.1
EasyWidgets==0.2.dev20130716
enum34==1.1.6
feedparser==5.2.1
FormEncode==1.2.4
funcsigs==1.0.2
functools32==3.2.3.post2
Genshi==0.6.1
gevent==1.2.1
gevent-websocket==0.10.1
greenlet==0.4.12
hiredis==0.2.0
html5lib==1.0b10
httplib2==0.10.3
ipython==5.3.0
ipython-genutils==0.2.0
iso8601==0.1.11
Jinja2==2.9.6
jsmin==2.0.3
jsonschema==2.6.0
Mako==1.0.6
Markdown==2.6.8
MarkupSafe==1.0
git+https://git.code.sf.net/p/merciless/code@pymongo-30#egg=Ming
nose==1.3.7
oauth2==1.2.0
olefile==0.44
packaging==16.8
Paste==2.0.3
PasteDeploy==1.5.2
PasteScript==2.0.2
pathlib2==2.2.1
pdfminer==20140328
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
prompt-toolkit==1.0.14
ptyprocess==0.5.1
pyClamd==0.3.17
pycrypto==2.6.1
Pygments==2.2.0
Pylons==1.0.2
pymongo==3.4.0
pyotp==2.2.4
pyparsing==2.2.0
pyScss==1.2.0.post3
pysolr==3.6.0
python-dateutil==2.6.0
python-markdown-oembed==0.1.4
python-oembed==0.2.4
python-openid==2.2.5
pytz==2017.2
PyYAML==3.12
qrcode==5.3
redis==2.7.2
repoze.lru==0.6
requests==2.13.0
Routes==2.4.1
scandir==1.5
simplegeneric==0.8.1
simplejson==3.10.0
six==1.10.0
sqlalchemy-migrate==0.11.0
Tempita==0.5.3.dev0
tg.devtools==2.2.2
traitlets==4.3.2
TurboGears2==2.2.2
wcwidth==0.1.7
webencodings==0.5.1
WebError==0.13.1
WebFlash==0.1a9
WebHelpers==1.3
WebOb==1.1.1
WebTest==1.4.3
