{% extends g.templates['polymer-project'] %}

{% block title %}Team Dashboard{% endblock %}
{% block subheading_prefix %}{{ c.project.name }}{% endblock %}{% block subheading %}team dashboard{% endblock %}

{% block head %}
    <style is="custom-style">
        section {
            min-width: 400px;
        }
        #organize-buttons {
            margin: 2rem 0 0 0;
        }
        .empty-message {
            color: var(--toptext);
            fill: var(--toptext);
            text-align: center;
        }
        .approve-button {
            color: darkgreen;
            fill: darkgreen;
        }
        .cancel-button,
        .deny-button {
            color: darkred;
            fill: darkred;
        }
        .cancel-button {
            margin-left: 39px;
        }
        .registration-request-email {
            color: var(--toptext);
        }
        .info {
            font-size: 1em;
            font-style: italic;
            font-family: Ubuntu, Roboto, sans-serif;
            margin-top: -0.75em;
            margin-bottom: 2em;
        }
        .profile-info {
            margin-bottom: 12px;
        }
        .spacer {
            width: 1rem;
        }
        .section-icon {
            margin-right: .5em;
        }
        .section-icon#organize-icon {
            padding: 7px 0px;
        }
        .padded-icon {
            --iron-icon-height: 50px;
            --iron-icon-width: 50px;
            padding: 16px;
            padding-bottom: 12px;
            color: var(--interactive);
        }
        .team-icon {
            height: 50px;
            width: 50px;
            margin-right: 14px;
            padding-top: 32px;
        }
        .stats-container {
            background-color: var(--diffuse);
            padding: .75em;
        }
        .stats-container.large {
            padding: 1.25em;
        }
        .stats-header {
            background-color: var(--subheadingbar);
            color: var(--pitch);
            padding: 4px;
            margin-top: 8px;
            font-family: Ubuntu, Roboto, sans-serif;
            font-variant: small-caps;
            font-size: 20px;
            border-bottom: 2px solid var(--pristine);
        }
        .invitations {
            margin-top: 30px;
        }
        .badge {
            margin-left: 8px;
        }
        #search-submit {
            margin-left: 2px;
        }
        #search-files {
            margin-top: 3em;
        }
        #dataset-search {
            margin-top: 1em;
        }
        paper-tooltip {
            --paper-tooltip: {
                font-style: normal;
                font-size: 12px;
                font-weight: bold;
            }
        }
        .listing-icon {
            margin-right: 8px;
        }
        @media (max-width: 480px) {
            section {
                min-width: 250px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    {% raw %}
    <dom-module id="user-item">
        <style>
            .item {
                padding: 0.25em;
            }
            .info {
                margin-left: 8px;
            }
            .user-icon {
                --iron-image-height: 50px;
                --iron-image-width: 50px;
                padding: 4px;
            }
            .user-name {
                text-decoration: none;
                text-transform: uppercase;
                color: var(--subheadingtext);
            }
            .user-info {
                color: var(--diffuse);
                margin-top: 6px;
                font-style: italic;
                font-size: 12px;
            }
            #joined {
                margin-left: 10px;
            }
        </style>
        <template>
            <div class="item layout horizontal center">
                <a href="{{user.url}}"><iron-image class="user-icon" src="{{user.icon_url}}"></iron-image></a>
                <div class="info layout vertical flex">
                    <a class="user-name" href="{{user.url}}"><div>{{user.name}}</div></a>
                    <div class="user-info layout horizontal flex wrap">
                        <div class="flex">[[user.roles]]</div>
                        <div>joined {{_getJoinDate(user.joined)}}</div>
                    </div>
                </div>
            </div>
        </template>
        <script>
                HTMLImports.whenReady(function () {
                    Polymer({
                        is: "user-item",
                        properties: {
                            user: Object
                        },
                        _getJoinDate: function(date) {
                            return vffuncs.formatDate(date);
                        }
                    });
                });
        </script>
    </dom-module>

    <dom-module id="user-list">
        <style>
            .header {
                background-color: var(--headingbar);
                padding: .15em;
                padding-left: .5em;
            }
            .header-label {
                font-style: italic;
                color: var(--pristine);
            }
            .sorter {
                font-style: italic;
                font-size: 11px;
            }
            .sort-label {
                color:var(--pristine);
                margin-right: 8px;
            }
            paper-toggle-button {
                --paper-toggle-button-checked-bar-color: var(--diffuse);
                --paper-toggle-button-checked-button-color: var(--pristine);
                --paper-toggle-button-checked-ink-color: var(--pristine);
                --paper-toggle-button-unchecked-bar-color: var(--diffuse);
                --paper-toggle-button-unchecked-button-color: var(--pristine);
                --paper-toggle-button-unchecked-ink-color: var(--pristine);
            }
            .header iron-icon {
                padding: 8px;
                color: var(--interactive);
            }
            .list-container {
                height: 318px;
                overflow: auto;
            }
            .empty-message {
                color: var(--toptext);
                fill: var(--toptext);
                text-align: center;
            }
            .admin-icon {
                color: var(--interactive);
            }
            paper-tooltip {
                --paper-tooltip: {
                    font-style: normal;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            paper-dialog .heading {
                background-color: var(--headingbar);
                color: var(--interactive);
                margin-top: 0;
                padding: 0 8px;
            }
            paper-dialog .heading #header-label {
                color: var(--pristine);
                font-size: 20px;
                font-weight: bold;
            }
            paper-dialog .heading #close {
                min-width: 3em;
                padding-right: 0;
            }
            paper-dialog #send-control {
                margin-top: 16px;
            }
            paper-dialog {
                margin: 0;
                padding: 0;
                width: 300px;
            }
            paper-textarea {
            --paper-input-container-underline-focus: {
                background-color: var(--danger);
            }
            --paper-input-container-label-focus: {
                color:  var(--interactive);
            }
        }
        </style>
        <template>
            <iron-ajax url="[[url]]" last-response="{{data}}" auto></iron-ajax>
            <div class="header layout horizontal center-center">
                <iron-icon icon="social:people"></iron-icon>
                <div class="header-label flex">Team ([[data.users.length]])</div>
                <div class="sorter layout horizontal center-center">
                    <div id="sort-left" class="sort-label">role</div><paper-toggle-button on-iron-change="sort_order"></paper-toggle-button><div id="sort-right" class="sort-label">name</div>
                    <paper-tooltip position="left">Sort options</paper-tooltip>
                </div>
                <template is="dom-if" if="[[data.canRequest]]">
                    <paper-icon-button id="request" icon="icons:add-circle-outline" class="admin-icon" on-tap="_requestMembership"></paper-icon-button>
                    <paper-tooltip for="request" position="left">Request membership</paper-tooltip>
                </template>
                <template is="dom-if" if="[[data.canAdmin]]">
                    <a class="admin-control" href="[[data.projectURL]]admin/members" tabindex="-1">
                        <paper-icon-button icon="icons:settings" class="admin-icon"></paper-icon-button>
                        <paper-tooltip position="left">Manage</paper-tooltip>
                    </a>
                </template>
            </div>
            <div id="alist" class="list-container">
                <template id="repeater" is="dom-repeat" items="{{data.users}}" as="user">
                    <user-item user="{{user}}"></user-item>
                </template>
            </div>
            <paper-dialog id="dialog" modal>
                <div class="heading layout horizontal center-center">
                    <div id="header-label" class="flex">Request Membership</div>
                    <paper-button id="close" dialog-dismiss><iron-icon icon="close"></iron-icon></paper-button>
                </div>
                <div class="small-padding">
                    <paper-textarea id="message" label="message" value="Please add me to your project!"></paper-textarea>
                    <div id="send-control" class="layout horizontal center-center">
                        <paper-button id="send" dialog-confirm raised tabindex="-1" on-tap="_processRequest">
                            <div class="container layout horizontal center-center">
                                <iron-icon icon="send"></iron-icon>
                                <div class="label">Send</div>
                            </div>
                        </paper-button>
                    </div>
                </div>
            </paper-dialog>
            <iron-ajax id="mrequest" method="POST" on-response="_requestResponse" url="request_membership"></iron-ajax>
        </template>
        <script>
            HTMLImports.whenReady(function () {
                Polymer({
                    is: "user-list",
                    properties: {
                        url: String,
                        nonce: String
                    },
                    _hasUsers: function(o) {
                        return (o.users && o.users.length > 0);
                    },
                    sort_order: function(e) {
                        var name_sort = e.target.checked;
                        if (name_sort && !this.sortedByName) {
                            this.data.users.sort(function(a, b) {
                                return a.name.localeCompare(b.name);
                            });
                            this.$.repeater.render();
                            this._sortedByName = true;
                        } else if (!name_sort && this._sortedByName) {
                            //Initial sort by name
                            this.data.users.sort(function(a, b) {
                                return a.name.localeCompare(b.name);
                            });
                            //Subsequent sort by role
                            this.data.users.sort(function(a, b) {
                                return a.roles.split(',')[0].localeCompare(b.roles.split(',')[0]);
                            });
                            this.$.repeater.render();
                            this._sortedByName = false;
                        }
                    },
                    _requestMembership: function() {
                        this.$.dialog.toggle();
                        this.$.dialog.notifyResize();
                    },
                    _processRequest: function() {
                        var msg = this.$.dialog.querySelector("#message").value;
                        var requester = this.$.mrequest;
                        requester.params = {text: msg, _session_id: this.nonce};
                        requester.generateRequest();
                    },
                    _requestResponse: function() {
                        window.location.href = "/dashboard";
                    },
                    ready: function() {
                        this.$.dialog.fitInto = document.querySelector("#organize");
                    }
                });
            });
        </script>
    </dom-module>

    <dom-module id="project-tool-list">
        <style>
            .header {
                background-color: var(--headingbar);
                padding: .15em;
                padding-left: .5em;
                margin-bottom: 4px;
            }
            .header-label {
                font-style: italic;
                color: var(--pristine);
            }
            .header iron-icon {
                padding: 8px;
                color: var(--interactive);
            }
            .list-container {
                height: 318px;
                overflow: auto;
            }
            .sorter {
                font-style: italic;
                font-size: 11px;
            }
            #sort-by-activity {
                margin-right: 8px;
            }
            paper-toggle-button {
                margin-right: 10px;
                --paper-toggle-button-checked-bar-color: var(--diffuse);
                --paper-toggle-button-checked-button-color: var(--pristine);
                --paper-toggle-button-checked-ink-color: var(--pristine);
                --paper-toggle-button-unchecked-bar-color: var(--diffuse);
                --paper-toggle-button-unchecked-button-color: var(--pristine);
                --paper-toggle-button-unchecked-ink-color: var(--pristine);
            }
            paper-icon-button#prefs {
                margin-right: 4px;
            }
            paper-icon-button#prefs.selected {
                color: var(--interactive);
            }
            project-item.hidden {
                display: none;
            }
            .admin-icon {
                color: var(--interactive);
            }
            paper-tooltip {
                --paper-tooltip: {
                    font-style: normal;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            #size-info {
                padding-right: .5em;
            }
        </style>
        <template>
            <iron-ajax url="[[url]]" last-response="{{data}}" auto></iron-ajax>
            <iron-ajax id="prefsajax" url="" on-response="_prefsResponse"></iron-ajax>
            <div class="header layout horizontal center-center">
                <iron-icon icon="vaadin-icons:tools"></iron-icon>
                <div class="header-label flex">Tools ([[data.num]])</div>
                <template is="dom-if" if="[[data.canAdmin]]">
                    <a class="admin-control" href="[[data.projectURL]]admin/tools" tabindex="-1">
                        <paper-icon-button icon="icons:settings" class="admin-icon"></paper-icon-button>
                        <paper-tooltip position="left">Manage</paper-tooltip>
                    </a>
                </template>
            </div>
            <div id="plist" class="list-container">
                <template id="repeater" is="dom-repeat" items="{{data.tools}}" as="tool">
                    <project-tool tool="{{tool}}"></project-tool>
                </template>
            </div>
        </template>
        <script>
            HTMLImports.whenReady(function () {
                Polymer({
                    is: "project-tool-list",
                    properties: {
                        data: Object,
                        url: String,
                        count: Number
                    },
                    _getItems: function() {
                        return this.$.plist.querySelectorAll("project-tool");
                    }
                });
            });
        </script>
    </dom-module>
    <dom-module id="project-tool">
            <style>
                .content {
                    background-color: var(--diffuse);
                    padding: .75em;
                    padding-top: 1em;
                    margin-right: 12px;
                    margin-left: 40px;
                }
                .tool-icon {
                    --iron-image-height: 50px;
                    --iron-image-width: 50px;
                    margin-right: 8px;
                }
                .tool-listing {
                    text-decoration: none;
                    font: inherit;
                    color: inherit;
                    fill: inherit;
                    padding: 0.2em;
                    text-transform: uppercase;
                }
                a paper-icon-button,
                a:active paper-icon-button,
                a:visited paper-icon-button {
                    color: var(--subheadingtext);
                }
                paper-tooltip {
                    --paper-tooltip: {
                        font-style: normal;
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
                .tool-icon {
                    margin-right: 8px;
                }
                .undersize-icon {
                    height: 35px;
                    width: 35px;
                }
                .oversize-icon {
                    height: 45px;
                    width: 45px;
                    margin-top: 2px;
                }
                paper-checkbox#pref {
                    margin-left: 4px;
                    margin-bottom: 4px;
                    --paper-checkbox-checked-color: var(--interactive);
                }
                paper-checkbox.hidden {
                    display: none;
                }
                span#pname.greyed {
                    color: var(--diffuse);
                }
                #badge {
                    margin-right: 12px;
                }
                .info {
                    color: var(--diffuse);
                    margin-top: 6px;
                    font-style: italic;
                    font-size: 12px;
                }
                .tool-name {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--subheadingtext);
                }
                #tool-public {
                    margin-right: 8px;
                }
            </style>
            <template>
                <div class="layout horizontal center">
                    <a href="[[tool.tool_url]]"><iron-image class="tool-icon" src="[[tool.icon_url]]"></iron-image></a>
                    <div class="layout vertical flex">
                        <a class="tool-name" href="[[tool.tool_url]]"><div>[[tool.name]]</div></a>
                        <template is="dom-if" if="[[tool.total]]">
                            <div class="info layout horizontal flex">
                                [[tool.total]] [[_getArtifact(tool.artifact, tool.total)]][[_getSize(tool.total_size)]]
                            </div>
                        </template>
                    </div>
                    <template is="dom-if" if="[[tool.new]]">
                        <vf-badge id="badge" count="[[tool.new]]"></vf-badge>
                        <paper-tooltip for="badge" position="left">Tool has [[tool.new]] new [[_pluralize('item', tool.new)]]</paper-tooltip>
                    </template>
                    <template is="dom-if" if="[[!tool.private]]">
                        <iron-icon id="tool-public" icon="vaadin-icons:eye"></iron-icon>
                        <paper-tooltip for="tool-public" position="left">Tool readable by non-members</paper-tooltip>
                    </template>
                </div>
            </template>
            <script>
                HTMLImports.whenReady(function () {
                    Polymer({
                        is: "project-tool",
                        properties: {
                            tool: Object
                        },
                        _newCount: function(count) {
                            return (count < 100) ? count : "99+";
                        },
                        _pluralize: function(s, count) {
                            return (count == 1) ? s : s + 's';
                        },
                        _getArtifact: function(name, count) {
                            var retval = (name) ? name : 'artifact'
                            return this._pluralize(retval, count);
                        },
                        _getSize: function(size) {
                            return (size) ? ", " + vffuncs.humanSize(size) : "";
                        }
                    });
                });
            </script>
    </dom-module>

    <dom-module id="activity-item">
        <style>
            .item {
                padding: 0.25em;
            }
            .info {
                margin-left: 4px;
            }
            .user-icon {
                --iron-image-height: 50px;
                --iron-image-width: 50px;
                padding: 4px;
            }
            .tool-icon {
                margin-top: 4px;
                margin-right: 4px;
            }
            .timestamp {
                color: var(--diffuse);
                margin-top: 6px;
                font-style: italic;
                font-size: 12px;
            }
            .subject a {
                text-decoration: none;
                color: var(--subheadingtext);
            }
            .subject-line {
                min-height: 30px;
            }
        </style>
        <template>
            <div class="item layout horizontal center">
                <a href="{{item.author.url}}"><iron-image class="user-icon" src="{{item.author.icon_url}}"></iron-image></a>
                <div class="info layout vertical flex">
                    <div class="subject-line layout horizontal center-center flex">
                        <a href="{{item.app_config.url}}"><iron-image class="tool-icon" src="{{item.app_config.icon_url}}"></iron-image></a>
                        <div class="subject flex"><a href="{{item.link}}">{{_subjectText(item.subject)}}</a></div>
                    </div>
                    <div class="timestamp">{{_timestamp(item.pubdate)}}</div>
                </div>
            </div>
        </template>
        <script>
            HTMLImports.whenReady(function () {
                Polymer({
                    is: "activity-item",
                    properties: {
                        item: Object
                    },
                    _subjectText: function(text) {
                        var regexp = /\[.*?\] (.*)/;
                        mo = regexp.exec(text);
                        if (mo) {
                            return mo[1];
                        }
                        return text;
                    },
                    _timestamp: function(olderDate, newerDate) {
                       return vffuncs.ago(olderDate, newerDate);
                    }
                });
            });
        </script>
    </dom-module>

    <dom-module id="activity-list">
        <style>
            .header {
                background-color: var(--headingbar);
                padding: .025em;
                padding-left: .5em;
                margin-bottom: 4px;
            }
            .header-label {
                font-style: italic;
                color: var(--pristine);
            }
            .header iron-icon {
                padding: 10px;
                color: var(--interactive);
            }
            .list-container {
                height: 318px;
                overflow: auto;
            }
            .empty-message {
                color: var(--toptext);
                fill: var(--toptext);
                text-align: center;
            }
            .activity-feed-icon {
                color: var(--interactive);
            }
            paper-tooltip {
                --paper-tooltip: {
                    font-style: normal;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        </style>
        <template>
            <iron-ajax url="[[url]]" last-response="{{data}}" auto></iron-ajax>
            <div class="header layout horizontal center-center">
                <iron-icon icon="vaadin-icons:time-forward"></iron-icon>
                <div class="header-label flex">Recent Activity</div>
                <a class="activity-feed-link" href="/dashboard/activity_feed/select/[[data.project_id]]" tabindex="-1">
                    <paper-icon-button icon="track-changes" class="activity-feed-icon"></paper-icon-button>
                    <paper-tooltip position="left">Activty Feed</paper-tooltip>
                </a>
            </div>
            <template is="dom-if" if="[[_hasNotifications(data)]]">
                <div id="alist" class="list-container">
                    <template id="repeater" is="dom-repeat" items="{{data.notifications}}" as="notification">
                        <activity-item item="{{notification}}"></activity-item>
                    </template>
                </div>
            </template>
            <template is="dom-if" if="[[!_hasNotifications(data)]]">
                <div class="layout vertical center">
                    <div class="empty-message">
                        <p><iron-icon icon="warning"></iron-icon>No team activity as yet.</p>
                    </div>
                </div>
            </template>
        </template>
        <script>
                HTMLImports.whenReady(function () {
                    Polymer({
                        is: "activity-list",
                        properties: {
                            url: String
                        },
                        _hasNotifications: function(o) {
                            return (o.notifications && o.notifications.length > 0);
                        }
                    });
                });
        </script>
    </dom-module>
    <dom-module id="team-profile">
        <style>
            .header {
                background-color: var(--headingbar);
                padding: .15em;
                padding-left: .5em;
            }
            .header-label {
                font-style: italic;
                color: var(--pristine);
            }
            .header iron-icon {
                padding-right: 6px;
                height: 40px;
                color: var(--interactive);
            }
            #admin-control .admin-icon {
                color: var(--interactive);
                margin-right: 4px;
            }
            paper-tooltip {
                --paper-tooltip: {
                    font-style: normal;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .tag-icon {
                background-color: var(--subheadingbar);
                padding: .5em;
                margin-right: 4px;
                margin-top: 4px;
            }
            .tag-icon.missing {
                background-color: rgba(255, 255, 0, 0.25);
            }
            .tag-icon.deleted {
                background-color: rgba(255, 0, 0, 0.25);
            }
            .tag-icon iron-icon {
                color: var(--headingbar);
                --iron-icon-height: 32px;
                --iron-icon-width: 32px;
            }
            .value {
                margin-top: 4px;
            }
            .offset {
                margin-top: 8px;
            }
            .subteam-link {
                text-decoration: none;
                color: var(--pitch);
            }
            .subteam-icon {
                height: 30px;
                width: 30px;
                margin-right: 8px;
            }
            .storage-ok {
                background-color: rgba(0, 255, 0, 0.25);
            }
            .storage-warn {
                background-color: rgba(255, 255, 0, 0.25);
            }
            .storage-exceeded {
                background-color: rgba(255, 0, 0, 0.25);
            }
            .missing {
                font-style: italic;
            }
        </style>
        <template>
            <iron-ajax url="[[url]]" last-response="{{data}}" auto></iron-ajax>
            <div class="header layout horizontal center-center">
                <iron-icon icon="icons:info"></iron-icon>
                <div class="header-label flex">Team Profile</div>
                <template is="dom-if" if="{{data.admin}}">
                    <div id="admin-control">
                        <paper-icon-button id="admin" icon="icons:settings" class="admin-icon" on-tap="_editProfile"></paper-icon-button>
                        <paper-tooltip for="admin" position="left">Edit profile</paper-tooltip>
                    </div>
                </template>
            </div>
            <div class="offset">
                <div class="item layout horizontal center-center">
                    <div id="team-created" class="tag-icon"><iron-icon icon="icons:alarm"></iron-icon></div>
                    <paper-tooltip for="team-created" position="right">Team created</paper-tooltip>
                    <div class="value layout flex wrap">{{_formatDate(data.created)}}</div>
                </div>
                <div class$="item layout horizontal {{_getSummaryClass(data.summary)}}">
                    <div id="team-summary" class$="tag-icon {{_getSummaryIconClass(data.summary, data.admin)}}"><iron-icon icon="vaadin-icons:file-text-o"></iron-icon></div>
                    <paper-tooltip for="team-summary" position="right">Summary</paper-tooltip>
                    <div class="value layout flex wrap">{{_getSummary(data.summary)}}</div>
                </div>
                <div class="item layout horizontal center-center">
                    <div id="team-status" class$="tag-icon {{_getStatusClass(data.deleted)}}"><iron-icon icon="vaadin-icons:clipboard-pulse"></iron-icon></div>
                    <paper-tooltip for="team-status" position="right">Status</paper-tooltip>
                    <div class="value layout flex wrap">{{_getStatus(data.deleted)}}</div>
                </div>
                <div class="item layout horizontal center-center">
                    <div id="team-privacy" class="tag-icon"><iron-icon icon="{{_getPrivateIcon(data.private)}}"></iron-icon></div>
                    <paper-tooltip for="team-privacy" position="right">Privacy</paper-tooltip>
                    <div class="value layout flex wrap">{{_getPrivate(data.private)}}</div>
                </div>
                <template is="dom-if" if="{{data.member}}">
                    <div class="item layout horizontal center-center">
                        <div id="team-storage" class$="tag-icon {{_getStorageClass(data.storage)}}"><iron-icon icon="vaadin-icons:database"></iron-icon></div>
                        <paper-tooltip for="team-storage" position="right">Total storage used</paper-tooltip>
                        <div class="value layout flex wrap">{{_getStorageUsed(data.storage)}}</div>
                    </div>
                </template>
                <template is="dom-if" if="{{data.parent}}">
                    <div class="item layout horizontal center-center">
                        <div id="team-parent" class="tag-icon"><iron-icon icon="vaadin-icons:file-tree-small"></iron-icon></div>
                        <paper-tooltip for="team-parent" position="right">Parent team</paper-tooltip>
                        <div class="value layout flex wrap">
                            <a class="subteam-link layout horizontal center" href="{{data.parent.url}}">
                                <iron-image class="subteam-icon" src="{{data.parent.icon_url}}" sizing="contain"></iron-image>
                                <div>{{data.parent.name}}</div>
                            </a>
                        </div>
                    </div>
                </template>
                <template is="dom-if" if="{{data.subteams}}">
                    <div class$="item layout horizontal {{_getSubteamClass(data.subteams)}}">
                        <div id="team-subteams" class="tag-icon"><iron-icon icon="vaadin-icons:split"></iron-icon></div>
                        <paper-tooltip for="team-subteams" position="right">Subteam(s)</paper-tooltip>
                        <div class="value layout flex wrap">
                            <template is="dom-repeat" items="{{data.subteams}}">
                                <a class="subteam-link layout horizontal center" href="{{item.url}}">
                                    <iron-image class="subteam-icon" src="{{item.icon_url}}" sizing="contain"></iron-image>
                                    <div class="flex">{{item.name}}</div>
                                </a>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
            <vf-team-edit id="edit-profile" nonce="{{nonce}}" data="{{data}}"></vf-team-edit>
        </template>
        <script>
            HTMLImports.whenReady(function () {
                Polymer({
                    is: "team-profile",
                    properties: {
                        data: Object,
                        url: String,
                        nonce: String
                    },
                    _formatDate: function(date) {
                        return vffuncs.formatDate(date);
                    },
                    _getStatus: function(deleted) {
                        return (deleted) ? "Deleted" : "Active";
                    },
                    _getStatusClass: function(deleted) {
                        return (deleted) ? "deleted" : "";
                    },
                    _getPrivate: function(private) {
                        return (private) ? "Private" : "Public";
                    },
                    _getPrivateIcon: function(private) {
                        return "vaadin-icons:" + ((private) ? "eye-slash" : "eye");
                    },
                    _getStorageUsed: function(storage) {
                        return (storage) ? vffuncs.humanSize(storage) : "0 bytes";
                    },
                    _getStorageClass: function(storage) {
                        var gb = 1000 * 1000 * 1000;
                        return (storage < (150 * gb)) ? "" : (storage < (200 * gb)) ? "storage-warn" : "storage-exceeded";
                    },
                    _editProfile: function() {
                        this.querySelector("vf-team-edit").showDialog();
                    },
                    _getSubteamClass: function(subteams) {
                        return (subteams.length == 1) ? "center-center" : "center-start";
                    },
                    _getSummaryClass: function(summary) {
                        var cls = (summary.length <= 96) ? "center-center" : "center-start";
                        if (summary.length == 0) {
                            cls += " missing";
                        }
                        return cls
                    },
                    _getSummaryIconClass: function(summary, admin) {
                        return (summary.length == 0 && admin) ? "missing" : "";
                    },
                    _getSummary: function(summary) {
                        return (summary) ? summary : "No summary provided.";
                    }
                });
            });
        </script>
    </dom-module>
   {% endraw %}

    <div class="layout horizontal wrap">
        <section id="profile" class="paper-sheet small-margin small-padding layout vertical flex">
            <h2 class="profile-info layout horizontal center-center">
                <iron-image class="team-icon" src="{{ c.project.icon_url }}" sizing="contain"></iron-image>
                Team Profile
            </h2>
            <div class="info layout horizontal center-center">Information about the team.</div>
            <team-profile url="profile_info" nonce="{{ h.get_csrf_value() }}"></team-profile>
        </section>
        {% if visible_tools %}
            <section id="tools" class="paper-sheet small-margin small-padding flex">
                <h2 class="layout horizontal center-center">
                    <iron-icon class="padded-icon" icon="vaadin-icons:tools"></iron-icon>
                    Tools
                </h2>
                <div class="info layout horizontal center-center">Access and manage team tools.</div>
                <project-tool-list url="tools_info" count="{{ tools }}"></project-tool-list>
            </section>
            <section id="activity" class="paper-sheet small-margin small-padding flex">
                <h2 class="layout horizontal center-center">
                    <iron-icon class="padded-icon" icon="vaadin-icons:time-forward" role="img"></iron-icon>
                    Timeline
                </h2>
                <div class="info layout horizontal center-center">View team and tool activity.</div>
                <activity-list url="activity"></activity-list>
            </section>
        {% endif %}
        <section id="organize" class="paper-sheet small-margin small-padding layout vertical flex">
            <h2 class="layout horizontal center-center">
                <iron-icon id="organize-icon" class="section-icon" icon="social:group" role="img"></iron-icon>
                People
            </h2>
            <div class="info layout horizontal center-center">View team members and roles.</div>
            <user-list url="users_info" nonce="{{ h.get_csrf_value() }}"></user-list>
            {% if invitations|count > 0 %}
                <pending-info icon="social:people" title="Invitations" count="{{invitations|count}}">
                {% for invite in invitations %}
                    <div class="layout horizontal center">
                        <paper-button-link href="{{invite['user'].url()}}" class="flex">
                            <div class="layout horizontal center left-justify flex">
                                <iron-icon class="listing-icon" src="{{invite['user'].icon_url()}}"></iron-icon>
                                <span class="invite-label">
                                {{invite['user'].display_name}}
                                <paper-tooltip position="right">Invited User</paper-tooltip>
                                </span>
                            </div>
                        </paper-button-link>
                        <a href="invitation_rescind/{{ invite.id }}" class="cancel-button">
                            <paper-icon-button icon="cancel"></paper-icon-button>
                            <paper-tooltip position="left">Cancel</paper-tooltip>
                        </a>
                    </div>
                {% endfor %}
                </pending-info>
            {% endif %}
            {% if requests|count > 0 %}
                <pending-info icon="social:people" title="Membership Requests" count="{{requests|count}}">
                {% for request in requests %}
                    <div class="layout horizontal center">
                        <paper-button-link href="{{request['user'].url()}}" class="flex">
                            <div class="layout horizontal center left-justify flex">
                                <iron-icon class="listing-icon" src="{{request['user'].icon_url()}}"></iron-icon>
                                <span class="request-label">
                                {{request['user'].display_name}}
                                <paper-tooltip position="right">Requesting user</paper-tooltip>
                                </span>
                            </div>
                        </paper-button-link>
                        <a href="membership_request_accept/{{ request.id }}" class="approve-button">
                            <paper-icon-button icon="thumb-up"></paper-icon-button>
                            <paper-tooltip position="left">Accept</paper-tooltip>
                        </a>
                        <a href="membership_request_decline/{{ request.id }}" class="deny-button">
                            <paper-icon-button icon="thumb-down"></paper-icon-button>
                            <paper-tooltip position="left">Decline</paper-tooltip>
                        </a>
                    </div>
                {% endfor %}
                </pending-info>
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block extra_js %}
{{ super() }}
{% endblock %}