{% extends g.templates['master'] %}

{% do g.resource_manager.register_css('visualize/vf_visualizer_embedder.scss') %}
{% do g.resource_manager.register_js('visualize/VFVisualizerEmbedder.js') %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block content %}
    <div class="padded">
        {% if design_info.design_projects %}
            <form action="project_analysis">
                <fieldset class="vf-fieldset">
                    <label for="designproject_id">Design Projects</label>
                    <select name="designproject_id" id="designproject_id">
                        {% for design_project in design_info.design_projects %}
                            <option value="{{ design_project.id }}"{% if design_project.id == designproject_id %} selected="selected"{% endif %}>{{ design_project.title }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="go">
                </fieldset>
            </form>
        {% else %}
            <div class="padded">Your project has no analysis products.</div>
        {% endif %}
        {% if visualization %}
            {{ visualization|safe }}
        {% endif %}
    </div>
{% endblock %}
