{% extends g.templates['master'] %}

{% do g.resource_manager.register_js('assets/lits_table/list_table.js') %}
{% do g.resource_manager.register_css('assets/lits_table/list_table.scss') %}

{% do g.resource_manager.register_js('js/lib/jquery/jquery.flot.js') %}

{% do g.resource_manager.register_css('assets/design_submission/manufacturability_details.scss') %}
{% do g.resource_manager.register_js('assets/design_submission/manufacturability_details.js') %}

{% do g.resource_manager.register_css('assets/design_submission/design_submission.scss') %}
{% do g.resource_manager.register_js('assets/design_submission/design_submission.js') %}

{% block title %}Manufacturability Analysis {{ title }}{% endblock %}

{% block header %}Manufacturability Analysis{% endblock %}

{% block content %}
{% if design_info.designs %}
    <div id="submit-a-design-form-container" class="padded top-spaced">
        <form action="submit_for_manufacturability" method="POST">
            <fieldset class="vf-fieldset">
                <legend>Submit a design for analysis</legend>
                <label for="selection">Designs</label>
                <select name="selection" id="selection">
                    {% for design_project in design_info.design_projects %}
                        <optgroup label="{{ design_project.display_name }}">
                            {% for design in design_project.designs %}
                                <option value="{{ design_project.id }}:{{ design.id }}"{% if design.id == design_id %} selected="selected"{% endif %}>{{ design.display_name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <input type="submit" value="submit">
            </fieldset>
        </form>
    </div>
{% endif %}
<h2 class="padded">List of submissions</h2>
<div id="submissions-list" class="padded"></div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $vf.afterInit( function(){
        "use strict";

        $('#submit-a-design-form-container form').
            hide();
        $('<button/>', {'text': 'Submit a design for analysis'}).
            prependTo('#submit-a-design-form-container').
            bind('click', function () {
                $(this).
                    siblings('form').
                    fadeIn().
                    end().
                    remove();
            });

        $('#submissions-list').listTable({
            'className': 'submission-list',
            limit: {{ limit }},
            page: {{ page }},
            dataSource: "{{ data_source }}",
            renderers: $vf.designSubmissionDataRenderers
        });

    });
</script>
{% endblock %}
