{% extends g.templates['master'] %}

{% do g.resource_manager.register_js('assets/lits_table/list_table.js') %}
{% do g.resource_manager.register_css('assets/lits_table/list_table.scss') %}

{% do g.resource_manager.register_css('assets/design_submission/design_submission.scss') %}
{% do g.resource_manager.register_js('assets/design_submission/design_submission.js') %}

{% block title %}Scoring Analysis {{ title }}{% endblock %}

{% block header %}Scoring Analysis{% endblock %}

{% block content %}
<div id="tutorialHolder"></div>
{% if can_submit and design_info.designs %}
    <div id="submit-a-design-form-container" class="padded top-spaced">
        <form action="submit_for_scoring" method="POST">
            <fieldset class="vf-fieldset">
                <legend>Submit a design for scoring</legend>
                <div>
                    <label for="selection">Designs</label>
                    <select name="selection" id="submission-selection">
                        <option>--</option>
                        {% for design_project in design_info.design_projects %}
                            <optgroup label="{{ design_project.display_name }}">
                                {% for design in design_project.designs %}
                                    <option value="{{ design_project.id }}:{{ design.id }}"{% if design_project.req_id %} data-req-id="design_project.req_id"{% endif %}>{{ design.display_name }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
            <fieldset class="vf-fieldset" id="requirements-fieldset" style="display: none">
                <legend>Select Design Type</legend>
                <select name="req_id" id="req_id">
                {% for req in all_requirements %}
                    <option value="{{ req.tool_id }}" data-cansubmit="{{ req.can_submit() }}" data-requirexme="{{ req.require_xme }}">{{ req.name }}</option>
                {% endfor %}
                </select>
            </fieldset>
            <fieldset class="vf-fieldset" id="self-cert-fieldset" style="display: none"></fieldset>
            <fieldset class="vf-fieldset" id="xme-file-fieldset" style="display: none">
                <legend>Select XME File</legend><div></div>
            </fieldset>
            <p id="rate-warning" class="warning_text" style="display: none">
                Scoring rate limit reached for this design type.
            </p>
            <input type="submit" value="submit" id="score-submit-btn" style="display: none">
        </form>
    </div>
{% else %}
    <div class="top-spaced padded">
        <p>{{ cannot_submit_message }}</p>
    </div>
{% endif %}
<div class="padded">
    <h3 class="content-section-header">Final Design Submission</h3>
</div>
<div id="chosen-submission" class="padded"></div>
<div class="padded">
    <h3 class="content-section-header">List of submissions</h3>
</div>
<div id="submissions-list" class="padded"></div>
{% endblock %}


{#{% macro requirement(req) %}#}
{#    <li>#}
{#        <label><input type="checkbox" name="{{ h.slugify(req.name) }}"> <strong>{{ req.name }}</strong></label>#}
{#        <p>{{ req.description }}</p>#}
{#        {% if req.children %}#}
{#            <ul>#}
{#                {% for child in req.children %}#}
{#                    {{ requirement(child) }}#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#    </li>#}
{#{% endmacro %}#}


{% block extra_js %}
<script type="text/javascript">
    $vf.afterInit( function(){
                "use strict";
        var descriptionExtra = '<p>Team leaders may submit team designs for scoring from here as well.</p>';

        {% if can_submit and design_info.designs %}
            var submitForm = $('#submit-a-design-form-container').find('form'),
                reqInput = submitForm.find("#req_id"),
                designSelect = $('#submission-selection');
                //selfCertFieldset = $('#self-cert-fieldset');
            submitForm.hide();

{#            function renderSelfCert(req_id){#}
{#                var ps;#}
{##}
{#                function renderRequirement(cert) {#}
{#                    var el = $('<li/>')#}
{#                        .append($('<label/>')#}
{#                            .append($('<input/>', {#}
{#                                "type":"checkbox",#}
{#                                "name":$vf.slugify(cert.name)#}
{#                            }))#}
{#                        .append($('<strong>' + cert.name + '</strong>')))#}
{#                        .append($('<p>' + cert.description + '</p>'));#}
{#                    if (cert.children) {#}
{#                        var subList = $('<ul/>');#}
{#                        $.each(cert.children, function(i, subCert){#}
{#                            subList.append(renderRequirement(subCert));#}
{#                        });#}
{#                        el.append(subList);#}
{#                    }#}
{#                    return el;#}
{#                }#}
{##}
{#                $("#score-submit-btn").hide();#}
{#                selfCertFieldset.show().html("");#}
{#                ps = new $vf.PleaseWait(#}
{#                    'Retrieving Self-Certification Requirements',#}
{#                    selfCertFieldset#}
{#                );#}
{#                ps.show();#}
{##}
{#                $.ajax({#}
{#                    url:"{{ self_cert_url }}",#}
{#                    type:"GET",#}
{#                    data:{req_id: req_id},#}
{#                    dataType: 'json',#}
{#                    success: function(data) {#}
{#                        ps.hide();#}
{#                        if (data.requirements.length !== 0){#}
{#                            var certList = $('<ul/>');#}
{#                            $.each(data.requirements, function(i, cert){#}
{#                                var el = renderRequirement(cert);#}
{#                                certList.append(el);#}
{#                            });#}
{#                            selfCertFieldset#}
{#                                .append('<legend>Self Certification</legend>')#}
{#                                .append(certList);#}
{#                        } else {#}
{#                            selfCertFieldset.hide();#}
{#                        }#}
{#                        $("#score-submit-btn").show();#}
{#                    }#}
{#                });#}
{#            }#}

            var XMEEngine = {
                "xmeFieldset": $("#xme-file-fieldset"),
                "xmeData": {},
                "load": function(designProjectId) {
                    var that = this;
                    console.log("xme loading");
                    $.ajax({
                        url: "{{ xme_url }}",
                        type: "GET",
                        dataType: "json",
                        data: {"designproject_id": designProjectId},
                        success: function(data) {
                            that.xmeData[designProjectId] = data["xme_files"];
                            that.render(data["xme_files"]);
                        }
                    });
                },
                "render": function(data) {
                    console.log("xme rendering");
                    var xmeHtml, i, dataLen = data.length;
                    if (dataLen){
                        xmeHtml = $('<select name="xme_file"/>');
                        for (i = 0; i < dataLen; i++){
                            xmeHtml.append($('<option/>', {
                                "value": data[i]["id"],
                                "text": data[i]["path"]
                            }));
                        }
                        $("#score-submit-btn").show();
                    } else {
                        xmeHtml = $('<span/>', {
                            "class": "warning_text",
                            "text": "Your project does not appear to have any XME files. " +
                                "Please commit an XME file to your repository in order " +
                                "to submit your design for scoring."
                        });
                        $("#score-submit-btn").hide();
                    }
                    this.xmeFieldset.show().find("div").html(xmeHtml);
                },
                "show": function(designProjectId) {
                    console.log("xme showing");
                    if (this.xmeData[designProjectId] === undefined){
                        this.load(designProjectId);
                    } else {
                        this.render(this.xmeData[designProjectId]);
                    }
                },
                "hide": function() {
                    console.log("xme hiding");
                    this.xmeFieldset.hide();
                }
            };

            function checkRequirement(designProjectId){
                var opt = reqInput.find(':selected');
                if (opt.attr('data-cansubmit') === "True"){
                    $("#rate-warning").hide();
                    if (opt.attr('data-requirexme') === "True"){
                        XMEEngine.show(designProjectId);
                    } else {
                        XMEEngine.hide();
                        $("#score-submit-btn").show();
                    }
                } else {
                    XMEEngine.hide();
                    $("#score-submit-btn").hide();
                    $("#rate-warning").show();
                }
            }

            $('<button/>', {'text': 'Submit a design for scoring'}).
                prependTo('#submit-a-design-form-container').
                bind('click', function () {
                    submitForm.fadeIn();
                    $(this).remove();
                });
            designSelect.change(function(){
                var opt = $(this).find(':selected');
                if (opt.attr('data-req-id')) {
                    $("#score-submit-btn").show();
{#                    renderSelfCert(opt.attr('data-req-id'));#}
                } else {
                    $('#requirements-fieldset').fadeIn();
                    checkRequirement(opt.val().split(":")[0]);
{#                    renderSelfCert($('#req_id').val());#}
                }
            });
            $('#req_id').change(function(){
                checkRequirement(designSelect.val().split(":")[0]);
            {#                var opt = $(this).find(':selected');#}
            {#                renderSelfCert(opt.attr("value"));#}
            });

            descriptionExtra = '<p>Create a new submission by using the button labeled <em>Submit a Design for Scoring</em></p>';
        {% endif %}

        {% if not design_info.designs %}
            descriptionExtra += '<p><strong>Your team has no designs.</strong> Add your design files to a project repository to enable design scoring.</p>';
        {% endif %}

        $('#submissions-list').listTable({
            'className': 'submission-list',
             limit: {{ limit }},
             page: {{ page }},
             dataSource: "{{ data_source }}",
             renderers: $vf.designSubmissionDataRenderers
        });

        $('#chosen-submission').listTable({
            'className': 'submission-list',
             limit: {{ limit }},
             page: {{ page }},
             dataSource: "{{ data_source }}",
             dataParams: {
                 chosen: true
             },
             renderers: $vf.designSubmissionDataRenderers
        });

        $(function () {
            var tutorial = new $vf.Tutorial({
                containerElement: $('#tutorialHolder'),
                highlightTrigger: $('#tutorial-highlight-trigger'),
                title: undefined,
                description: "<p>Here is a list of your team's scoring submissions. For more information see the <a href=\"/fang/resources/MSD-Scoring/\">scoring tutorial</a>.</p>" +
                    descriptionExtra,
                statePersistenceApiUrl: '/auth/prefs/state/'
            });
        });


    });
</script>
{% endblock %}
