@import "css/init.scss";

$workspace-icons: sprite-map("assets/workspace/images/*.png");
$reference-bin-on-width: 212px;


.bookmark-element.selected {
    background: #404040;
}
.bookmark-element.editing {
    background: black;
}

.bookmark-link.toolbar-item {
    padding: 1ex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookmark-flag-container {
    padding: 6px 0 6px 6px;
    width: 14px;
    text-align: center;
}
.bookmark-element .flag {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.bookmark-action-icon {
    margin: 4px 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

input.rename-bookmark-title-input {
    margin: 0 1ex;
    color: inherit;
    border-radius: 0;
    border: none;
    background-color: transparent;
    background-image: url(../../images/white-rect.svg), url(../../images/white-rect.svg), url(../../images/white-rect.svg);
    background-position: bottom left, bottom center, bottom right;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 2px 4px, 100% 2px, 2px 4px;
    box-shadow: none;
}

.bookmark-element.COMPONENT .flag {
    background: sprite($workspace-icons, component_icon) no-repeat ;
}

.bookmark-element.WIKI .flag {
    background: sprite($workspace-icons, wiki_icon) no-repeat;
}

.bookmark-element.CLOUD .flag {
    background: sprite($workspace-icons, cloud_icon) no-repeat;
}

.bookmark-element.TICKETS .flag {
    background: sprite($workspace-icons, tickets_icon) no-repeat;
}

.bookmark-element.ADMIN .flag {
    background: sprite($workspace-icons, admin_icon) no-repeat;
}

.bookmark-element.FORUMS .flag {
    background: sprite($workspace-icons, forums_icon) no-repeat;
}

.bookmark-element.DISCOVERY .flag {
    background: sprite($workspace-icons, search_icon) no-repeat;
}



.referenceBin {
    background: rgb(69,72,77); /* Old browsers */
    @include linearGradient2(top,  rgba(69,72,77,1) 0%, rgba(22,25,37,1) 100%);

    position: relative;
    z-index: 61;
    width: $right-toolbar-width;
    height: 200px;

    overflow: hidden;

    opacity: .75;

    transition: width .4s, opacity .4s, left .4s;
    -moz-transition: width .4s, opacity .4s, left .4s; /* Firefox 4 */
    -webkit-transition: width .4s, opacity .4s, left .4s; /* Safari and Chrome */
    -o-transition: width .4s, opacity .4s, left .4s;

}

.referenceBin.on {
    width: $reference-bin-on-width;
    opacity: 1;
    -moz-box-shadow: 0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
    z-index: 12000;
}

.referenceBin .header {
    background-color: #ddd;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 220px;

    cursor: pointer;
}

.referenceBin .title {
    height: 47px;
    width: 20px;
    background: sprite($workspace-icons, link_bin_label) no-repeat;
}

.referenceBin .header:hover {
    background-color: #eee;
}

.referenceBin .resizer {
    min-height: 32px;
}

.referenceBin .resizer .flag {
    height: 24px;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    background: sprite($workspace-icons, three_arrows_left) no-repeat;
}

.referenceBin.on .resizer .flag {
    background: sprite($workspace-icons, three_arrows_right) no-repeat;
}

.referenceBin .artifactLinkList {
    width: 0;
    position: relative;
    left: 1px;
}

.referenceBin.on .artifactLinkList {
    width: 190px;
}

.referenceBin .artifact-link {
    margin-right: 5px;
    max-width: 175px;
}

.emptyMessage {
    display: none;
    color: #aaa;
    margin: 5px 25px 5px 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #aaa;
    white-space: nowrap;
    overflow: hidden;
    height: 60px;
}

.more-hidden-container {
    z-index: 10000;
}

.intellitrigger {
  position: relative;
}
