<form action="{{c.project.url()}}admin/{{app.config.options.mount_point}}/set_options" method="post">
    <div class="vf-field-list">
        <div class="vf-field">
          <label for="show_discussion">Show discussion:</label>
          {% if allow_config %}
            <input type="checkbox" name="show_discussion" id="show_discussion"{% if app.show_discussion %} checked="checked"{% endif %}/>
          {% else %}
            <span>{{app.show_discussion}}</span>
          {% endif %}
        </div>
        <div class="vf-field">
          <label for="show_left_bar">Show sidebar:</label>
          {% if allow_config %}
            <input type="checkbox" name="show_left_bar" id="show_left_bar"{% if app.show_left_bar %} checked="checked"{% endif %}/>
          {% else %}
            <span>{{app.show_left_bar}}</span>
          {% endif %}
            (to people without edit rights)
        </div>
        <div class="vf-field">
            <label for="show_right_bar">Show author:</label>
            {% if allow_config %}
            <input type="checkbox" name="show_right_bar" id="show_right_bar"{% if app.show_right_bar %} checked="checked"{% endif %}/>
            {% else %}
            <span>{{app.show_right_bar}}</span>
            {% endif %}
        </div>
    </div>
    {% if allow_config %}
        <div class="vf-form-controls">
            <input type="submit" value="Save"/>
            <input type="button" class="close" value="Cancel"/>
        </div>
    {% endif %}
</form>
