{% extends 'vulcanforge:tools/wiki/templates/master.html' %}
{% set has_related_artifacts = True %}
{% from 'vulcanforge.common:templates/jinja_master/lib.html' import abbr_date with context %}

{% do g.resource_manager.register_css('visualize/vf_visualizer_embedder.scss') %}
{% do g.resource_manager.register_css('css/hilite.css') %}

{% do g.resource_manager.register_js('visualize/js/visualizer_util.js') %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / {{page.title}}{% endblock %}

{% block header %}
    {% for item in hierarchy_items %}
        <div class="wiki-titlebar-item{% if not hide_sidebar and item.child_count > 0 %} wiki-titlebar-item-with-popup{% endif %}{% if loop.last %} wiki-titlebar-item-main{% else %} wiki-titlebar-item-small{% endif %}">
            <span class="wiki-titlebar-item-label"><a class="{{'has-icon ico-home ' if item.is_home else ''}}" href="{{ item.href }}">{{ item.label }}</a></span>
            {% if not hide_sidebar and item.child_count > 0 %}
            <div class="wiki-titlebar-item-popup">
                <ul class="wiki-titlebar-item-list">
                {% for child in item.children %}
                    <li><a href="{{ child.url() }}">{{ child.title.split('/')[-1] }}</a></li>
                {% endfor %}
                {% if item.child_count > item.children|length %}
                    <li><em><a href="{{ item.more_href }}">more...</a></em></li>
                {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    {% endfor %}

    {% if page['deleted'] %}<span> [deleted {% if page['deleted_time'] %}{{abbr_date(page['deleted_time'])}}{% endif %}]</span>{% endif %}
    {% if not page.is_current() and version%} <span>[version {{version}}]</span>{% endif %}
    {% if show_meta %}
        <div class="avatar-list">
            <label class="simple">by: </label>
            {% for author in page.authors() %}
                {{g.avatar.display(user=author, size=16, compact=True)}}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="Page RSS" href="feed.rss"/>
<link rel="alternate" type="application/atom+xml" title="Page Atom" href="feed.atom"/>
<link rel="alternate" type="application/rss+xml" title="Wiki RSS" href="../feed.rss"/>
<link rel="alternate" type="application/atom+xml" title="Wiki Atom" href="../feed.atom"/>
{% endblock %}
{% block body_attrs %} class="wiki-{{(page.title).replace(' ','_')}}"{% endblock %}

{% block actions %}{{ c.menu_bar.display(page) }}{% endblock %}

{% block wiki_content %}
    {{ c.renderer.display(page) }}
{% endblock %}

{% block relatedArtifacts %}
    {{c.related_artifacts_widget.display(value=version and page.original() or page)}}
{% endblock %}

{% block edit_box %}
{{super()}}
{% endblock %}

{% block wiki_meta %}{% endblock %}

{% block after_content %}
  {% if page.discussion_thread and c.app.show_discussion %}
    {% set thread = page.discussion_thread %}
    <div>{{c.thread_widget.display(value=thread)}}</div>
  {% endif %}
{% endblock %}

{% block wiki_extra_js %}
    <script>
    var WIKI_SIDEBAR = {{ 'false' if hide_sidebar else 'true' }};
    </script>
{% endblock %}
