@import "css/init.scss";

.project-admin-tools {
  padding: 0 $pu;
}

.project-admin-tools h4 {
  text-decoration: underline;
  font-weight: bold;
  color: $content-color;
  margin-bottom: $pu;
}

.project-admin-tools p {
  margin-top: 0;
}

.admin-setup-icon {
  vertical-align: top;
}

ul.admin-special-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.admin-special-links li {
  display: inline-block;
  padding-left: 2 * $pu - 3;
  padding-right: 2*$pu;
  border-right: 1px solid $link-color;
}

ul.admin-special-links li:first-child {
  padding-left: 0;
}

ul.admin-special-links li:last-child {
  border-right-style: none;
}

table .mem-left {
  width: 20%;
  text-align: center;
}

table .mem-right {
  width: 30%;
}

fieldset.tool-icon img {
    width: 32px;
    height: 32px;
    background-color: #eee;
    margin: 1ex;
    border: 1px solid #333;
}