@import "css/init.scss";

.project-admin-tools {
  padding: 0 $pu;
}

.project-admin-tools h4 {
  text-decoration: underline;
  font-weight: bold;
  color: $content-color;
  margin-bottom: $pu;
}

.project-admin-tools p {
  margin-top: 0;
}

.admin-setup-icon {
  vertical-align: top;
}

ul.admin-special-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.admin-special-links li {
  display: inline-block;
  padding-left: 2 * $pu - 3;
  padding-right: 2*$pu;
  border-right: 1px solid $link-color;
}

ul.admin-special-links li:first-child {
  padding-left: 0;
}

ul.admin-special-links li:last-child {
  border-right-style: none;
}

table .mem-left {
  width: 20%;
  text-align: center;
}

table .mem-right {
  width: 30%;
}

fieldset.tool-icon img {
    width: 32px;
    height: 32px;
    background-color: #eee;
    margin: 1ex;
    border: 1px solid #333;
}

ul.deck li .customize-button {
    font-weight: bold;
    opacity: 0.5;
    font-size: 0.6em;
    line-height: .7em;
    height: 1.8em;
    text-transform: uppercase;
    display: inline-block;
    padding: 1ex 1ex;
    margin-bottom: 1ex;
    border-radius: 1em;
    border: 1px solid #555;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

ul.deck li .customize-button:hover {
    border-color: #555;
    background-color: #fff;
    color: #555;
    opacity: 1;
}

.tool-title {
    margin: 1ex;
    font-weight: bold;
    font-size: .9em;
}