@import "theme/css/theme_mixins.scss";

/* Layout background-images */

body.front {
    background: #000 url("/theme/images/vf_starry_sky.jpg");
}

body.front #bottom-bg-container {
    background-image: url(/theme/images/clouds_for_bottom.png);
}


/* Search result-icon images */

#global-search-field.empty {
    background-image: url(/theme/images/search_icon_smaller.png);

}

.big_icon.ui-icon-tool-home {
    background-image: url("../../../../tools/home/static/images/home_48.png");
}

.big_icon.ui-icon-tool-wiki {
    background-image: url("../../../../tools/wiki/static/images/wiki_48.png");
}

.big_icon.ui-icon-tool-git, .big_icon.ui-icon-tool-svn, .big_icon.ui-icon-tool-hg {
    background-image: url("../images/code_48.png");
}

.big_icon.ui-icon-tool-stats {
    background-image: url("../images/stats_48.png");
}

.big_icon.ui-icon-tool-admin, .big_icon.ui-icon-admin {
    background-image: url("../../../../tools/admin/static/images/admin_48.png");
}

.big_icon.ui-icon-tool-discussion {
    background-image: url("../../../../tools/forum/static/images/forums_48.png");
}

.big_icon.ui-icon-tool-tickets {
    background-image: url("../../../../tools/tickets/static/images/tickets_48.png");
}

.big_icon.ui-icon-tool-downloads {
    background-image: url("../../../../tools/downloads/static/images/downloads_48.png");
}

.big_icon.ui-icon-tool-link {
    background-image: url("../images/ext_48.png");
}

.big_icon.ui-icon-tool-blog {
    background-image: url("../images/blog_48.png");
}

.big_icon.ui-icon-tool-chat {
    background-image: url("../images/chat_48.png");
}

.big_icon.ui-icon-tool-components {
    background-image: url("../images/publish_48.png");
}
