@import "css/init.scss";

.wiki-header-content {
    padding: 0 $pu;
}

.label-page-link {
    border-right: 1px solid $link-color;
    padding-right: $pu*2;
    margin-right: $pu;
}

.label-page-link:last-child {
    border-right-style: none;
}

.title-column {
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.show-deleted-controls {
    float: right;
}

.wiki-page-list td {
    padding-top: $pu;
    line-height: 24px;
}

.wiki-page-list tr.deleted {
    @include deleted-list-element-skin;
}

.wiki-page-list .item-actions {
    opacity: .7;
}

.wiki-page-list tr:hover .item-actions {
    opacity: 1;
}

#history-list {
    min-width: 500px;
}

#history-list .version-number {
    text-align: center;
    width: 40px;
}

#history-list .version-date {
    width: 200px;
}

.compare-button-holder {
    text-align: center;
}

.compare-selector {
    text-align: center;
    border: 1px solid $border-color;
    border-collapse: collapse;
    margin: 0;
    width: 60px;
}

.version-actions {
    white-space: nowrap;
    display: inline-block;
    margin-left: 4*$pu;

}

#compare-selected-button {
    margin-right: 0;
}

.selected-number-holder {
    background-color: $border-color;
    text-align: center;
}

.diff_add {
    text-decoration: underline; background-color: #0f0;
}

.diff_sub {
    text-decoration: line-through; background-color: #f00;
}

ins {
    text-decoration: none; background-color: lightgreen;
}

del {
    text-decoration: none; background-color: pink;
}

.diff-container {
    font-family: "Courier New", Courier;
}

body[data-pagetype="WIKI"] #main-content-holder .markdown_content {
    padding: 1.4em 2.8em;
    font-size: 1em;
}

a.notfound {
    color: red;
}

/* titlebar tips */
.wikiTitlebarDropdownTip .qtip-content {
    padding: 0;
}
.wiki-titlebar-item {
    display: inline-block;
    float: left;
    padding-bottom: 6px;
    color: #aaa;
    line-height: 34px;
}
.wiki-titlebar-item-small {
    font-size: 0.7em;
}
.wiki-titlebar-item-label {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 28px;
    padding: 0 0.25em;
    -webkit-transition: all 0.2s;
}
.wiki-titlebar-item-label.hover {
    z-index: 2;
    background: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.wiki-titlebar-item-with-popup .wiki-titlebar-item-label::after {
    content:"\25bc";
    margin-left: 0.25em;
    font-size: 0.6em;
    line-height: inherit;
    vertical-align: bottom;
    color: #ccc;
}
.wiki-titlebar-item-with-popup .wiki-titlebar-item-label.hover::after {
    color: #aaa;
}
.wiki-titlebar-item-list {
    display: block;
    margin: 0.25rem 0;
    padding: 0;
    list-style-type: none;
}
.wiki-titlebar-item-list li {
    display: block;
    margin: 0;
    padding: 0;
}
.wiki-titlebar-item-list li.label,
.wiki-titlebar-item-list li a {
    display: block;
    margin: 0;
    padding: 0.25rem 1rem;
}
.wiki-titlebar-item-list li a:hover {
    background: $link-color;
    color: white;
}
.wiki-titlebar-item-popup {
    padding: 0;
}
.wiki-titlebar-item-popup-header {
    margin: 0.25rem;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    color: #888;
}



.wiki-multiple-editors-warning-panel {
    padding: 1rem;
    background: #800;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.1rem;
}
.wiki-multiple-editors-warning-panel::before {
    content: '\26a0';
    display: inline-block;
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}


@media print {
    .wiki-titlebar-item-with-popup .wiki-titlebar-item-label::after,
    .avatar-list
    {display: none;}

    .wiki-titlebar-item,
    .wiki-titlebar-item-label {
        display: inline;
        float: none;
        margin: 0;
        padding: 0;
    }
}
