{% extends 'vulcanforge:tools/forum/templates/discussionforums/master.html' %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}} / Search{% endblock %}

{% block header %}<span id="searching_header">Searching...</span>{% endblock %}

{% block extra_js %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function(){
      $vf.afterInit(function() {
        var search = new $vf.Search({
            searchSL: new $vf.ServiceLocation("{{search_uri}}", "GET"),
            q: "{{q|replace('"', '\\"')|e}}",
            page: {{page}},
            query_param: "tool_q",
            pageSize: {{limit}},
            results_container: $('#discussion-search-results'),
            results_header: $('#searching_header'),
            displayProject: false
        });
        search.load_results();
      }, []);
    });
</script>	
{% endblock %}	

{% block content %}
  <div id="tutorialHolder"></div>
  <div id="discussion-search-results"
       class="search-results-container padded"></div>
{% endblock %}
