# -*- coding: utf-8 -*-
"""
The application's Globals object

This object can be used by importing pylons.app_globals

"""
from vulcanforge.config.app_globals import ForgeAppGlobals

__all__ = ['Globals']


class Globals(ForgeAppGlobals):
    pass

