# -*- coding: utf-8 -*-

"""The base Controller"""

import vulcanforge.common.controllers.base

__all__ = ['BaseController']


class BaseController(vulcanforge.common.controllers.base.BaseController):
    """
    Base class for the controllers in the application.

    """
    pass
