{% extends g.templates['polymer-user'] %}

{% block title %}{{ config.get('forge_name', 'User') }} Profile{% endblock %}
{% block subheading_prefix %}{{ user.display_name }}{% endblock %}{% block subheading %}user&nbsp;profile{% endblock %}
{% block head %}

<style is="custom-style">
    section {
        min-width: 400px;
    }
    .section-icon#organize-icon {
        padding: 7px 0px;
    }
    .padded-icon {
        --iron-icon-height: 50px;
        --iron-icon-width: 50px;
        padding: 14px;
        color: var(--interactive);
    }
    #organize-buttons {
        margin: 2rem 0 0 0;
    }
    .empty-message {
        color: var(--toptext);
        fill: var(--toptext);
        text-align: center;
    }
    .approve-button {
        color: darkgreen;
        fill: darkgreen;
    }
    .cancel-button,
    .deny-button {
        color: darkred;
        fill: darkred;
    }
    .cancel-button {
        margin-left: 39px;
    }
    .registration-request-email {
        color: var(--toptext);
    }
    .info {
        font-size: 1em;
        font-style: italic;
        font-family: Ubuntu, Roboto, sans-serif;
        margin-top: -0.75em;
        margin-bottom: 2em;
    }
    .section-icon {
        margin-right: .5em;
    }
    .stats-container {
        background-color: var(--diffuse);
        padding: .75em;
    }
    .stats-container.large {
        padding: 1.25em;
    }
    .stats-header {
        background-color: var(--subheadingbar);
        color: black;
        padding: 4px;
        margin-top: 8px;
        font-family: Ubuntu, Roboto, sans-serif;
        font-variant: small-caps;
        font-size: 20px;
        border-bottom: 2px solid var(--pristine);
    }
    .invitations {
        margin-top: 30px;
    }
    #find-team {
        margin-right: 2px;
    }
    .badge {
        margin-left: 8px;
    }
    #search-submit {
        margin-left: 2px;
    }
    #search-files {
        margin-top: 3em;
    }
    #dataset-search {
        margin-top: 1em;
    }
    .request-label,
    .invite-label {
        margin-left: 4px;
    }
    paper-tooltip {
        --paper-tooltip: {
            font-size: 12px;
            font-weight: bold;
        }
    }
    @media (max-width: 480px) {
        section {
            min-width: 250px;
        }
    }
</style>
{% endblock %}

{% block content %}
    <div class="layout horizontal wrap">
        <section class="paper-sheet small-margin small-padding flex">
            <h2 class="layout horizontal center-center">
                <iron-icon class="padded-icon" src="{{user.icon_url()}}" role="img"></iron-icon>
                User Profile
            </h2>
            <div class="info layout horizontal center-center" id = "lastLog">Last online: </div>
            <script>
                var div = document.getElementById('lastLog');
                div.innerHTML = div.innerHTML + vffuncs.formatTime("{{lastLog}}");
            </script>
            <vf-user-profile id="profile" url="userinfo" min-password-length="{{tg.config.get('auth.pw.min_length', 10)}}" static-url="{{g.resource_manager.absurl('')}}" nonce="{{ h.get_csrf_value() }}"></vf-user-profile>
        </section>
        <section id="activity" class="paper-sheet small-margin small-padding flex">
            <h2 class="layout horizontal center-center">
                <iron-icon class="padded-icon" icon="vaadin-icons:time-forward" role="img"></iron-icon>
                Activity
            </h2>
            <div class="info layout horizontal center-center">View recent user activity</div>
            <vf-user-activity-list url="activity"></vf-user-activity-list>
        </section>
        <section id="projects" class="paper-sheet small-margin small-padding layout vertical flex">
            <h2 class="layout horizontal center-center">
            <iron-icon class="section-icon" id="organize-icon" icon="social:group" role="img"></iron-icon>
            Teams
        </h2>
            <div class="info layout horizontal center-center">View user's teams.</div>
            <vf-team-list url="getprojects" count="{{ projects }}"></vf-team-list>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
{{ super() }}
{% endblock %}
