@import "css/init.scss";

// first fix all of the broken styles that are way too generic
label {
    display: inline;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-transform: none;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
}
//

#activity-feed-app {
}
#activity-feed-main,
#activity-feed-side {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
}
#activity-feed-main {
    right: $sidebar-width;
    left: 280px;
    padding-bottom: 300px;
    background: #ddd;
    box-shadow: inset 0 1ex 1em #aaa;
}
#activity-feed-side {
    left: 0;
    width: 280px;
    background: #f8f8f8;
}
#activity-feed-controls {
    text-align: right;
}

.please-wait {
    top: 0;
    left: 0;
}

#no-notifications {
    position: relative;
    padding: 2em 4em;
    font-size: 16px;
    line-height: 1.6em;
}

#no-notifications h1 {
    color: #777;
    font-weight: bold;
    margin: 1em 0;
}

#no-notifications h2 {
    color: #888;
    font-weight: bold;
    margin: 1em 0;
    border: none;
}

#load-more-btn {
    display: block;
    margin: 1em auto;
    padding: 1em 5em;
}
#load-more-btn.hidden {
    display: none;
}

#loading-notifications {
    display: none;
    height: 70px;
    background-image: url(activity-feed-loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

#loading-filters {
    display: none;
    height: 70px;
    background-image: url(activity-filter-loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

#filters-header {
    background-color: #ddd;
    font-size:14px;
    font-weight: normal;
    padding: 12px;
    margin-bottom: 8px;
    border-bottom: 2px solid #ccc;
}

.filters-control {
    float: right;
    cursor: pointer;
}

#select-new {
    font-size: 10px;
    font-weight: normal;
    padding-right: 4px;
}

.filters-control-icon {
    margin-left: 8px;
    padding-bottom: 4px;
    height: 14px;
    width: 14px;
}

#filter-list,
#notification-list {
    position: relative;
    z-index: 1;
}

#filter-list {
    height: 95%;
    overflow-y: auto;
}

.project-filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.app_config-filter-list {
    list-style-type: none;
    padding: 0 0 0 24px;
}

#notification-list {
    padding: 0.5ex 0 0 0;
}

.dashboard-filter-item {
    margin: 0;
    background: #f8f8f8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #f0f0f0;
}
.project-label,
.app_config-label,
.exchange-label {
    display: block;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #404040;
    cursor: pointer;
}
.project-label,
.exchange-label {
    padding: 4px;
    font-size: 1.2em;
}
.app_config-label
{
    padding: 2px 4px;
}
.project-label:hover,
.app_config-label:hover,
.exchange-label:hover
{
    color: #f50;
    background: #e8f0f8;
}
.project-label a:hover img,
.app_config-label a:hover img,
.exchange-label a:hover img
{
    background: #fff;
    outline: 1px solid #f50;
}

// notification

.notification-container {
    position: relative;
    overflow: hidden;
}
.notification-liner {
    position: relative;
    margin: 0.5ex 1ex;
    padding: 1ex 1ex 1ex 64px;
    min-height: 64px;
    background: #f8f8f8;
    border-radius: 2px;
    box-shadow: 0 1px 3px #ccc;
    border-top: 1px solid white;
}
.unread .notification-liner {
    background: #eef8ff;
}

.notification-header {
    font-weight: bold;
}

.notification-icons {
    position: absolute;
    top: 1ex;
    left: 1ex;
}

.author-icon {
    display: block;
    width: 48px;
    height: 48px;
}
.project-icon,
.app-icon,
.exchange-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.notification-body {
    display: none;
    width: 100%;
    overflow-x: auto;
}

.notification-body .markdown_content {
    padding: 0;
}

.notification-footer {
    margin: 1ex 0 0 0;
    color: #888;
}

.notification-close,
.notification-open {
    color: #666;
    font-size: 18px;
    cursor: 'pointer';
}

.notification-close {
    display: none;
}

.mark-read {
    display: none;
}

.unread .mark-read {
    display: inline;
}

#teamup-container {
    margin-top: 20px;
}

#teamup-controls .member-button {
    float: left;
}

#teamup-search {
    float: right;
    display: inline-block;
}

#teamup-teamlist {
    border-top: 1px solid #eee;
}

#teamup-teamlist .teamup-listitem {
    border-bottom: 1px solid #eee;
    display: block;
}

.teamup-listitem {
    position: relative;
}

#teamup-teamlist .teamup-listitem:hover {
    background: #f3f6fc;
}

.teamup-team-controls {
    text-align: center;
    width: 100%;
    visibility: hidden;
    margin-bottom: 8px;
}

.teamup-team-controls a.btn.expanded {
    @include button-hover-skin;
}

#lightbox_reg_request textarea {
    width: 315px;
}

#notification-stats {
    background-color: white;
    padding: 24px;
    margin: 8px 8px 2px 8px;
}