@import "css/init.scss";
// message

.message-container {
    position: relative;
    padding: 1ex 1em 1ex 3ex;
    overflow: auto;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
    background: #e8e8e8;
    @include linearGradient2(top, #efefef, #e8e8e8);
    color: #888;
}
.message-container.announcement-container {
    border-top: 1px solid #eff8ff;
    border-bottom: 1px solid #d0e0f0;
    background: #d8e8f8;
    @include linearGradient2(top, #dfefff, #d8e8f8);
    color: #789;
}
.message-container.unread::before {
    background: #0086FF;
    box-shadow: inset 0 0 0.5em #049;
}
.message-container::before {
    content: " ";
    display: block;
    width: 1ex;
    position: absolute;
    top: 1ex;
    left: 1ex;
    bottom: 1ex;
    box-shadow: inset 0 0 0.5em rgba(0,0,0,0.2);
}

.message-subject {
    display: block;
    padding: 1ex 0 0 0;
    font-size: 1rem;
}
.message-author-name {
    margin: 2px
}
.message-container.unread .message-author-name {
    font-weight: bold;
    color: #444;
}

.message-info {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}
.message-container.announcement-container .message-info {
    color: #9ab;
}

.message-actions {
    position: absolute;
    top: 1px;
    right: 8px;
    font-size: 0.75em;
    color: rgba(0,0,0,0.3);
    font-weight: bold;
}

.message-body {
    margin: 1ex 0 0 0;
}

.avatar-holder {
    float: left;
    margin: 0 1em 0 0;
    padding: 0.5em;
    background: rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 1ex rgba(0,0,0,0.1);
}

.avatar-holder img {
    display: block;
    width: 4em;
    height: auto;
}
