<div class="fleft active-card">
  <input type="hidden" name="card-{{index}}.id" value="{{id}}"/>
  <ul class="deck">
    <li class="text-centered">
      <h3>{{name}}</h3>
      {% if settings_href %}
      <a href="{{settings_href}}" class="admin_modal" title="{{name}} Settings">
          <span class="inline-icon ico-pen">Edit</span>
      </a>
      {% endif %}
      {% if description %}
        <p style="font-size: 11px; padding: 4px; font-style: italic">{{description}}
        </p>
      {% endif %}
      <ul class="subroles">
        {% for role in roles %}
          {% if role.name %}
            <li>includes the {{ widget.role_name(role._id) }} group</li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% for item in items %}
    <li>
        <a href="#" class="deleter">
          {{ widget.item_display(item) }}
          <input type="hidden" name="card-{{index}}.value" 
                 {{ widget.j2_attrs(dict(value=widget.item_id(item))) }} />
          <small data-icon="{{g.icons['perm_delete'].char}}"
                 class="ico-r {{g.icons['perm_delete'].css}}"
                 title="Remove"></small>
        </a>
    </li>
    {% endfor %}
    <li class="new-item">
      {{ widget.new_item.display(name='card-%s.new' % index) }}
    </li>
    <li>
      <a href="#" class="adder inline-icon ico-add"
         title="Add a user"> Add</a>
    </li>
  </ul>
</div>
