{% extends 'vulcanforge.tools.catalogue:templates/master.html' %}

{% do g.resource_manager.register_css('assets/filebrowser/filebrowserwidget.css') %}
{% do g.resource_manager.register_css('css/jquery.contextMenu.css', scope='tool') %}

{% do g.resource_manager.register_js('js/lib/jquery/jquery.contextMenu.js', scope='tool') %}

{% do g.resource_manager.register_js('js/lib/crypto.js') %}
{% do g.resource_manager.register_js('js/lib/md5.js') %}
{% do g.resource_manager.register_js('js/lib/resumable.js') %}
{% do g.resource_manager.register_js('assets/filebrowser/filebrowserwidget.js') %}

{% block title %}Browse Content{% endblock %}
{% block header %}Browse Content{% endblock %}

{% block content %}
<div id="fileBrowserWidget"></div>
{% endblock %}

{% block extra_css %}
<style>
    .filebrowser-preview {
        display: block;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        border: none;
        width: 100%;
        height: 100%;
        min-height: 600px;
        -webkit-transition: 200ms left;
        transition: 200ms left;
    }
    .filebrowser-preview.off {
        left: 100%;
    }
</style>
{% endblock extra_css %}
{% block extra_js %}
<script type="text/javascript">
    $vf.afterInit(function () {
        var foldersRestUrl = '{{folders_rest_url}}';
        var filesRestUrl = '{{files_rest_url}}';
        var editable = {{ editable|lower }};
        var uploadButton = $('<button>Upload File</button>').
                addClass('inline-icon ico-upload').
                attr('title', 'Upload File');

        $vf.createFolder = function(path, folderName){
            var fbWidget = $vf.fileBrowser;
            fbWidget.lockInterface("Working...");
            $.ajax({
                url: foldersRestUrl,
                type: 'POST',
                data: {
                    _session_id: $.cookie('_session_id'),
                    'container': path,
                    'folderName': folderName
                },
                dataType: "json",
                success: function () {
                    fbWidget.unlockInterface();
                    $vf.webflash();
                    fbWidget.refreshActivePath();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    fbWidget.unlockInterface();
                    $vf.ajaxErrorHandler(jqXHR, textStatus, errorThrown);
                }
            });
        };

        $vf.deleteFile = function(id, path, container_path){
            var that = $vf.fileBrowser;
            var go = confirm("Are you certain you want to delete this file?");
            if (go === true) {
                that.lockInterface("Working...");

                var uploadEntry = that._getUploadDataForPath(path);
                if (uploadEntry){
                    uploadEntry.markedDeleted = true;
                }

                $.ajax({
                    url: filesRestUrl + '/' + id + '/?container_key=' + container_path,
                    type: 'DELETE',
                    headers: {
                        'VFSessionID': $.cookie('_session_id')
                    },
                    dataType: "json",
                    success: function () {
                        that.unlockInterface();
                        $vf.webflash();
                        that.refreshActivePath();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        that.unlockInterface();
                        $vf.ajaxErrorHandler(jqXHR, textStatus, errorThrown);
                    }
                });
            }
            return false;
        };

        $vf.deleteFolder = function(path){
            var that = $vf.fileBrowser;
            var go = confirm("Are you certain you want to delete this folder?");
            if (go === true) {
                that.lockInterface("Working...");

                $.ajax({
                    url: foldersRestUrl + path,
                    type: 'DELETE',
                    headers: {
                        'VFSessionID': $.cookie('_session_id')
                    },
                    dataType: "json",
                    success: function () {
                        that.unlockInterface();
                        $vf.webflash();
                        that.refreshActivePath();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        that.unlockInterface();
                        $vf.ajaxErrorHandler(jqXHR, textStatus, errorThrown);
                    }
                });
            }
            return false;
        };

        $('#fileBrowserWidget').fileBrowser({
            assertions: true,
            extraFields: ['size', 'actions'],
            initialPath: '{{initial_path}}',
            canUpload: editable,
            canDelete: editable,
            updateOnFileExists: true,
            chunkSize: '{{g.multipart_chunk_size}}',
            uploadButton: uploadButton,

            getURLForPath: function (path) {
                var url = foldersRestUrl;
                if (path.substring(0, 1) !== '/') {
                    url += '/';
                }
                url += $vf.uriEncodePath(path);
                return url;
            },

            getDeleteURLForPath: function (path) {
                var url = filesRestUrl;

                // If path indicates a folder use the other REST Url
                if (RegExp(/\/$/i).test(path)){
                    url = foldersRestUrl;
                }
                if (path.substring(0, 1) !== '/') {
                    url += '/';
                }
                url += $vf.uriEncodePath(path);
                return url;
            },

            getMoveUrlForPath: function (path) {
                var url = foldersRestUrl;
                if (path.substring(0, 1) !== '/') {
                    url += '/';
                }
                url += $vf.uriEncodePath(path);
                return url;
            },

            getDataForPath: function (path, callback) {
                var i, actionList;
                var that = this;
                var url = foldersRestUrl;
                if (path.substring(0, 1) !== '/') {
                    url += '/';
                }
                url += '/path_data' + $vf.uriEncodePath(path);

                $.ajax({
                    url: url,
                    type: 'GET',
                    context: this,
                    dataType: 'json',
                    success: function(result) {
                        $.each(result, function (resultPath, resultItem) {
                            var xcngItem,
                                parentPath,
                                lastSlashIndex,
                                creatorItem,
                                resultPath = $vf.htmlDecode(resultPath);

                            lastSlashIndex = resultPath.lastIndexOf('/');
                            parentPath = resultPath.substring(0, lastSlashIndex+1);
                            actionList = $('<p/>');
                            if (editable){
                                if (resultItem.type == "FILE"){
                                    $('<a/>', {
                                    'class': "ico-delete icon",
                                    'title': "Delete",
                                    'href': ""
                                    }).on('click', function (e) {
                                                $vf.deleteFile(resultItem.id, resultPath, parentPath);
                                        return false;
                                    }).appendTo(actionList);
                                }
                                if (resultItem.type == "DIR"){
                                    $('<a/>', {
                                    'class': "ico-delete icon",
                                    'title': "Delete",
                                    'href': ""
                                    }).on('click', function (e) {
                                                $vf.deleteFolder(resultPath);
                                        return false;
                                    }).appendTo(actionList);
                                }
                            }
                            if (resultItem['downloadURL'] &&
                                    (resultItem.type == 'FILE' ||
                                    resultItem.type == 'ZIP_FILE' ||
                                    resultItem.type == 'ZIP_CONTAINED_FILE')
                            ){
                                $('<a/>', {
                                    'class': "ico-download icon",
                                    'title': "Download",
                                    'href': resultItem['downloadURL']
                                }).appendTo(actionList);
                            }
                            if (resultItem.exchanges) {
                                for (i = 0; i < resultItem.exchanges.length; i++) {
                                    xcngItem = resultItem.exchanges[i];
                                    $('<a/>', {
                                        'class': "icon " + xcngItem.icon,
                                        'title': xcngItem.label,
                                        'href': xcngItem.href
                                    }).appendTo(actionList)
                                }
                            }
                            resultItem.extra.actions = actionList;

                            if (resultItem.extra.creator && resultItem.extra.creator.display_name && resultItem.extra.creator.url){
                                creatorItem = $('<a/>', {
                                    'href': resultItem.extra.creator.url,
                                    'text': resultItem.extra.creator.display_name
                                });
                                resultItem.extra.creator = creatorItem;
                            }
                        });
                        callback(result);
                    },
                    error: function(e){
                        //$vf.ajaxErrorHandler
                    }
                });
            },

            computeMD5Signature: function(file){
                var func = (file.slice ? 'slice' : (file.mozSlice ? 'mozSlice' : (file.webkitSlice ? 'webkitSlice' : 'slice')));
                var returnObj = {
                    done : function(cb){
                        this.done_cb = cb;
                    },
                    fail : function(cb){
                        this.fail_cb = cb;
                    }
                };

                if (file.size < 64000){
                    var bytes = file[func](0, file.size),
                        reader = new FileReader();
                    reader.onload = function(event){
                        var stringToHash = reader.result;
                        returnObj.done_cb(CryptoJS.MD5(stringToHash).toString());
                    };
                    reader.readAsText(bytes);
                } else {
                    var bytes1 = file[func](0, 32000),
                        bytes2 = file[func](file.size-32000, file.size),
                        reader1 = new FileReader(),
                        reader2 = new FileReader(),
                        stringToHash1, stringToHash2;
                    reader1.onload = function(event){
                        stringToHash1 = reader1.result;
                        reader2.readAsText(bytes2);
                    };
                    reader2.onload = function(event){
                        stringToHash2 = reader2.result;
                        returnObj.done_cb(CryptoJS.MD5(stringToHash1 + stringToHash2).toString());
                    };
                    reader1.readAsText(bytes1);
                }

                return returnObj;
            },

            getResumableUploadUrl: function(file, params){
                var that = $vf.fileBrowser,
                    url = filesRestUrl,
                    path,
                    uploadEntry = that._getUploadDataForId(file.uniqueIdentifier);

                if (uploadEntry){
                    path = uploadEntry.getParentPath();
                } else {
                    path = that.getActivePath();
                    if (file.relativePath.indexOf("/") == 0){
                        path = that.getActivePath() +
                                file.relativePath.substring(1, file.relativePath.lastIndexOf("/") + 1);
                    }
                }
                if (path.substring(0, 1) !== '/') {
                    url += '/';
                }
                url += $vf.uriEncodePath(path);
                if (params.length > 0){
                    if(url.indexOf('?') < 0) {
                        url += '?';
                    } else {
                        url += '&';
                    }
                }
                return url + params.join('&');
            },

            alert: function (opt) {
                var message = typeof(opt) == 'string' ? opt : '';
                if (opt.title != undefined) {
                    message += opt.title + '\n\n';
                }
                if (opt.message != undefined) {
                    message += opt.message;
                }
                if (message.length > 0) {
                    alert(message);
                    window.location.href = this.contentRootPath+'/';
                }
            },

            folderOperations: [
                function (pathData) {
                    var $operationsContainer;
                    if (!editable) {
                        return false;
                    }
                    $operationsContainer = $('<div/>');

                    if (!pathData.isType('ZIP_FILE') && !pathData.isType('ZIP_DIR')){
                        uploadButton.appendTo($operationsContainer);

                        $('<button>New Folder</button>').
                                appendTo($operationsContainer).
                                addClass('inline-icon ico-plus').
                                attr('title', 'New Folder').
                                bind('click', function () {
                                    var modalContainer = $('<div/>', {
                                        title: 'New Folder'
                                    });
                                    var form = $('<form/>').appendTo(modalContainer);
                                    $('<label/>', {
                                        text: 'Folder name'
                                    }).appendTo(form);
                                    var input_field = $('<input/>', {
                                        type: 'text',
                                        name: 'folder_name',
                                        'id': 'folder_name'
                                    }).appendTo(form);
                                    form.bind('submit', function (e) {
                                        modalContainer.dialog("close");
                                        $vf.createFolder(pathData.path,
                                                input_field.val());
                                        e.preventDefault();
                                    });

                                    modalContainer.dialog({
                                        modal: true,
                                        resizable: false,
                                        width: 400,
                                        buttons: {
                                            Continue: function () {
                                                form.trigger('submit');
                                            },
                                            Cancel: function () {
                                                modalContainer.dialog("close");
                                            }
                                        },
                                        zIndex: 10501
                                    });

                                    return false;
                                });

                    }
                    return $operationsContainer;
                }
            ]
        });

    });

</script>
{% endblock %}

