# -*- coding: utf-8 -*-
"""Setup the vehicleforge application"""

import logging
from tg import config
import pylons
from paste.registry import Registry
from vulcanforge.config.ming_config import ming_replicant_configure

log = logging.getLogger(__name__)
REGISTRY = Registry()


def setup_schema(command, conf, vars):
    """Place any commands to setup vehicleforge here"""
    import {{package}}
    import vulcanforge.auth.security_manager

    REGISTRY.prepare()
    REGISTRY.register(pylons.tmpl_context, EmptyClass())
    REGISTRY.register(pylons.app_globals, config['pylons.app_globals'])
    REGISTRY.register(
        vulcanforge.auth.credentials,
        vulcanforge.auth.security_manager.Credentials())
    ming_replicant_configure(**conf)
    from {{package}} import model


class EmptyClass(object):
    pass
