<div {% if class %}class="{{class}}"{% endif %} data-filename="{{ value.filename }}" data-url="{{ value.url() }}" data-thumb-url="{{ thumb_url or '' }}" data-mimetype="{{ mimetype }}" data-extension="{{ extension }}" {% if title %}title="{{title}}"{% endif %}>
    {% if link_url %}<a class="attachment-thumb-link" href="{{ link_url }}" data-mimetype="{{ mimetype }}" data-extension="{{ extension }}">{% if thumb_url %}<img class="attachment-thumb" src="{{ thumb_url }}"/>{% endif %}</a>{% endif %}
    <div class="attachment-details">
        {% if link_url %}<a class="attachment-link" href="{{ link_url }}">{{ value.filename }}</a>{% else %}{{ value.filename }}{% endif %}
        <div class="attachment-buttons">
            {{g.icon_button_widget.display('More options', 'more-' ~ value._id, 'attachment-actions more-btn', 'ico-more_options', None)}}
            {% if value.length %}
            <em class="attachment-note attachment-note-size">{{ h.pretty_print_file_size(value.length) }}</em>
            {% endif %}
            {% if delete_url %}
                {{g.icon_button_widget.display(
                    label='Delete attachment',
                    css='delete-attachment-button attachment-actions',
                    elementId=None,
                    icon='ico-delete',
                    href=delete_url)}}
            {% endif %}
        </div>
    </div>
</div>
