{% import 'vulcanforge.common:templates/jinja_master/lib.html' as lib with context %}
<div class="markdown-edit">
  <div class="markdown-help-button-container flash-for-parent">
      {{g.icon_button_widget.display('Markdown syntax guide', None, 'markdown-help-button', 'ico-help')}}
  </div>
  <ul class="markdown-tabs">
    <li><a href="#markdown-edit-{{context_id}}" title="Edit" class="markdown-edit-button has-icon ico-edit">Edit</a></li>
    <li><a href="#markdown-preview-{{context_id}}" title="Preview" class="markdown-preview-button has-icon ico-preview">Preview</a></li>
  </ul>
  <div id="markdown-edit-{{context_id or id}}">
    <textarea id="{{id}}" name="{{name}}" class="auto_resize" {{widget.j2_attrs(attrs)}}>{{value or ''}}</textarea>
  </div>
  <div id="markdown-preview-{{context_id or id}}" class="markdown-preview "></div>
  <input type="hidden" class="markdown_project" value="{{markdown_project}}">
  <input type="hidden" class="markdown_app" value="{{markdown_app}}">

  {{g.button_widget.display(css="exit-preview-button hidden", label="Close Preview", icon="ico-close")}}
</div>
