<input {{widget.j2_attrs({
    'id':id,
    'type':field_type,
    'name':rendered_name,
    'class':css_class,
    'readonly':readonly,
    'value':value},
    attrs)}}>
<section class="password-requirements {% if requirements_hidden %}hidden{% endif %}">
    <header>Password Requirements</header>
    <ul class="checklist">
        {% if min_length %}
            <li id="pwLength" class="off has-icon" data-length="{{ min_length }}">at least {{ min_length }} characters</li>
        {% endif %}
        <li id="pwLower" class="off has-icon">at least 1 lowercase letter</li>
        <li id="pwUpper" class="off has-icon">at least 1 uppercase letter</li>
        <li id="pwNumber" class="off has-icon">at least 1 number</li>
        <li id="pwSpecial" class="off has-icon">at least 1 special character</li>
    </ul>
</section>
