@import "css/init.scss";

.checklist {
    margin: $pu;
    list-style-type: none;
    padding-left: 0;
}

.checklist li {
    font-weight: bold;
}

.checklist .off {
    color: $error-color;
}

.checklist .on {
    color: $ok-color;
}

.checklist .off:before {
    content:"\2717";
    font-size: .6em;
    padding-right: $pu;
}

.checklist .on:before {
    content:"\2713";
    font-size: .7em;
    padding-right: $pu;
}


.password-requirements{
    margin: $pu 2*$pu 3*$pu 0;
    padding: 1ex 1em;
    border: 2px solid;
    border-radius: 2*$pu;
    width: 300px;

    @include requirements-skin;
}

.password-requirements header {
    color: darken($info-background-color, 40%);
}