{% extends g.templates['master'] %}
{% do g.resource_manager.register_js('auth/password_field.js') %}
{% do g.resource_manager.register_css('auth/password_field.scss') %}

{% set bodyClasses = ['Projects']%}
{% set hide_sidebar = True %}

{% block title %}Password Reset{% endblock %}

{% block header %}Reset your password{% endblock %}

{% block content %}
    {% if c.form %}
        <div class="padded top-spaced">
            If you tell us your primary VehicleFORGE email-address, we can send you an e-mail with a password-reset link and your username.
            {{ c.form.display(value=form_values) }}
        </div>
    {% else %}
        <p>Invalid token.</p>
    {% endif %}
{% endblock %}
