{% extends g.templates['polymer-user'] %}

{% block title %}Login to {{ tg.config.get('forge_name', "Vulcan") }}{% endblock %}

{% block head %}
    <style is="custom-style">
        #login-form {
            max-width: 400px;
        }
        #reset {
            margin-top: 20px;
        }
        #login {
            margin-top: 16px;
        }
        #register {
            display: none;
        }
        #reset .label,
        #register .label {
            margin-left: 4px;
        }
        input[type="text"] {
            color: black;
        }
        @media (max-width: 480px) {
            #register {
                margin-top: 20px;
                display: block;
            }
            #reset {
                margin-top: 0px;
            }
        }
        @media (max-width: 320px) {
            #login-form {
                min-width: 280px;
                @apply(--layout-center);
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="layout horizontal center-center wrap">
        <section id="login-form" class="paper-sheet big-margin big-padding flex">
            <h2 class="layout horizontal center-center">
                <iron-icon class="section-icon" icon="vf:login" role="img"></iron-icon>
                Login
            </h2>
            <paper-button-link id="terms" href="{{ g.resource_manager.absurl(tg.config.get('site.terms', 'site-terms.pdf'))}}" tabindex="-1">
                <div class="layout horizontal center-center flex">
                    <iron-icon icon="icons:account-box" class="paper-button-icon"></iron-icon>
                    <div class="label">terms of service</div>
                </div>
            </paper-button-link>
            <form action="/auth/do_login" method="POST" class="layout vertical">
                <input type="hidden" name="_session_id" value="{{ h.get_csrf_value() }}"/>
                {% if c.form_errors['_the_form'] %}
                    <div class="form-error layout horizontal">
                        <iron-icon icon="warning"></iron-icon>
                        <div class="flex">{{ c.form_errors['_the_form'] }}</div>
                    </div>
                {% endif %}
                <input type="hidden" name="return_to" value="{{c.form_values['return_to']}}"/>
                <paper-input-container>
                    <label>username</label>
                    <input is="iron-input" type="text" name="username" value="{{c.form_values['username']}}" autofocus required/>
                </paper-input-container>
                <paper-input-container>
                    <label>password</label>
                    <input is="iron-input" type="password" name="password" required/>
                </paper-input-container>
                <button id="login" type="submit" is="vf-button-submit" icon="arrow-forward" label="login" tabindex="-1"></button>
                <paper-button-link id="register" href="/auth/register" tabindex="-1">
                    <div class="layout horizontal center-center flex">
                        <iron-icon icon="social:person-add" class="paper-button-icon" role="img"></iron-icon>
                        <div class="flex label">register</div>
                    </div>
                </paper-button-link>
                <paper-button-link id="reset" href="/auth/password_reset" tabindex="-1">
                    <div class="layout horizontal center-center flex">
                        <iron-icon icon="help" class="paper-button-icon" role="img"></iron-icon>
                        <div class="flex label">recover password</div>
                    </div>
                </paper-button-link>
            </form>
        </section>
    </div>
{% endblock %}
