{% extends g.templates['master'] %}

{% do g.resource_manager.register_css('auth/password_field.scss') %}
{% do g.resource_manager.register_css('auth/registration/registration.scss') %}

{% do g.resource_manager.register_js('auth/fancy_login/Detector.js') %}
{% do g.resource_manager.register_js('auth/fang/registration.js') %}
{% do g.resource_manager.register_js('auth/registration/registration.js') %}
{% do g.resource_manager.register_js('auth/password_field.js') %}

{% block extra_css %}
    .{{ g.antispam.honey_class }} { display:none }
{% endblock %}

{% set hide_sidebar = True %}

{% if bodyClasses is undefined %}
    {% set bodyClasses = [] %}
{% endif %}
{% set bodyClasses = ['Login'] %}
{% block title %}{{ config.get('forge_name', 'Forge') }} Registration{% endblock %}

{% block header %}{{ config.get('forge_name', 'Forge') }} Registration{% endblock %}
{% block content %}
                    <div id="browserSupportErrorHolder" class="padded"></div>
                    <noscript>
                        <div class="message error" id="noScriptErrorHolder">{{ config.get('forge_name', 'The forge') }} relies on JavaScript.<br/>Please enable scripts in your browser or use a browser with JavaScript support.<br/>Thank you!</div>
                    </noscript>
                    <div id="main-content">
                        <ul class="process-list">
                            <li class="has-icon process-step {{ step1 }}">Request activation email</li><li class="process-step-separa"></li><li class="has-icon process-step {{ step2 }}">
                            {% if c.form.affiliate %}
                                An administrator will validate your eligibility and send you an
                                email with an activation link
                            {% else %}
                                Check your email for an activation link
                            {% endif %}
                        </li><li class="has-icon process-step-separa"></li><li class="process-step {{ step3 }}">Complete your registration</li>
                        </ul>
                        {{ c.form.display(value=form_values) }}
                    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript"
            src="{{ config['base_url'].split(':')[0]|lower }}://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

{% endblock %}
