{% extends g.templates['master'] %}

{% do g.resource_manager.register_css('auth/password_field.scss') %}
{% do g.resource_manager.register_js('auth/password_field.js') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery.knob.js') %}

{% block title %}{{ c.user.username }} / Preferences{% endblock %}

{% block header %}User Preferences for {{ c.user.display_name }}{% endblock %}

{% block content %}

<div class="padded">
    {% if password_change_form %}
        <fieldset class="vf-fieldset">
            <legend>Change Password</legend>
            {{ password_change_form.display(requirements_hidden=True) }}
        </fieldset>
    {% endif %}
    {% if two_factor_auth %}
        <fieldset class="vf-fieldset">
            <legend>Two-Factor Authentication</legend>
            <div style="margin-left:16px">
                <img src="{{g.resource_manager.absurl('images/twofactor1.png')}}" width="500" alt="two-factor overview"/>
                <p>
                Two-factor authentication adds an additional element of security when logging in to services on the Internet.
                It combines something you know (your password) with something you have, like a mobile device, such as a smartphone.
                </p>
                <p>
                The two-factor authentication system employed by this platform is a popular one called Time-based One-Time Passwords (TOTP).
                An application running on your mobile device is used to generate a unique code (or token) as a
                second authentication factor each time you log in.
                </p>
                <p>
                You will find free, easy-to-use mobile apps, such as Google Authenticator and Authy, that support TOTP for all major device platforms.   
                </p>
            </div>
            {{ two_factor_auth.display() }}
        </fieldset>
    {% endif %}
    {% if two_factor_credential %}
        <fieldset class="vf-fieldset">
            <legend>Two-Factor Authentication Key</legend>
            <img src="{{g.resource_manager.absurl('images/twofactor2.png')}}" width="440" alt="two-factor configuration"/>
            <p>
            The QR code below is used to set up your mobile device application to generate tokens for two-factor logins.
            If your mobile device is lost or stolen, or your mobile app loses its configuration, you will need to
            reset your password on this platform and then change this authentication key. 
            </p>
            <table>
                <tr><td>
                <div id="qrcode">
                    <img src="/auth/qrcode"></img>
                </div>
                </td></td>
                <tr align="center"><td>
                <div style="font-size:2.7em;margin-top:10px">{{ two_factor_credential.value['code'] }}</div>
                </td></tr>
            </table>
            <p style="margin-top:20px">
            If the QR code cannot
            be read by your mobile application, you can set it up manually using the text above.  
            </p>
            <h3 style="margin-top:20px">Confirm Your Setup</h3>
            <p>If your mobile application is properly configured, then it should be generating the following codes:</p>
            <div id="totp-code">
                <div id="code" style="display:inline;font-size:36px;margin-right:8px;vertical-align:12px">------</div>
                <input type="text" value="30" class="dial">
            </div>
            {{ two_factor_credential.display() }}
        </fieldset>
    {% endif %}
    {% if g.user_ssh_public_key and upload_key_form %}
        <div class="forge-form-container">
            <form id="ssh_key_form" class="forge-form" method="post" action="/auth/prefs/upload_sshkey">
                <fieldset class="vf-fieldset">
                    <legend>SSH Public Key</legend>

                    <ul class="field-list padded">
                        <li class="field-list-item field-list-item-wide ">
                            <div class="field-list-item-label">
                                <label for="key_status">Status:</label>
                            </div>
                            <div class="field-list-item-field">
                                {% if c.user.public_key != '' %}
                                    key uploaded
                                {% else %}
                                    no key uploaded
                                {% endif %}
                            </div>
                        </li>
                        <li class="field-list-item field-list-item-wide">
                            <div class="field-list-item-label">
                                <label for="key">SSH Public Key:</label>
                            </div>
                            <div class="field-list-item-field">
                                <textarea id="key" name="key"
                                          tabindex="6"></textarea>
                            </div>
                        </li>
                    </ul>
                    <div class="form-controls">
                        <input class="submit" type="submit" value="Save key"
                               tabindex="7">
                    </div>
                </fieldset>
            </form>
        </div>
    {% endif %}

    {# <fieldset class="vf-fieldset">
            <legend>API Token</legend>
            {% if api_token %}
                <p>
                    <b>API Key:</b><br/>
                    {{ api_token.api_key }}<br/>
                    <b>Secret Key:</b><br/>
                    {{ api_token.secret_key }}<br/>
                </p>
                <form method="POST" action="del_api_token">
                    <input type="submit" value="Delete API Token">
                </form>
            {% else %}
                <p>No API token generated</p>
            {% endif %}
            <form method="POST" action="gen_api_token">
                <input type="submit" value="(Re)generate API Token">
            </form>
        </fieldset>
    #}

    {% if authorized_applications %}
    <fieldset class="vf-fieldset">
        <legend>Authorized Third-party Applications</legend>
        {% for access_tok in authorized_applications %}
            <div>
                <h4>{{ access_tok.consumer_token.name }}</h4>
                {{ access_tok.consumer_token.description_html }}
                {{ c.revoke_access.display(value=access_tok) }}
                <br style="clear:both"/>
            </div>
        {% endfor %}
    </fieldset>
    {% endif %}

    {% if g.user_change_primary_email %}
    <form id="email_mod_form" action="update" method="post">
        <fieldset class="vf-fieldset">
            <legend>Email Settings</legend>
                {# <label for="preferences.results_per_page">Page Size</label>
                <div>
                    <select name="preferences.results_per_page">
                        {% for per_page in [25, 50, 100, 250] %}
                            <option
                                    {% if per_page == c.user.preferences.results_per_page %}selected="selected"{% endif %}
                                    value="{{per_page}}">{{ per_page }}</option>
                        {% endfor %}
                    </select>
                </div> #}
                {% for a in c.user.email_addresses %}
                    <input name="addr-{{loop.index0}}.ord"
                           value="{{loop.index0}}"
                           type="hidden"/>
                {% endfor %}
                {% if c.user.email_addresses %}
                    <h4>Email Addresses</h4>

                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Primary</th>
                                    <th>Address</th>
                                    <th>Confirmed</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for a in c.user.email_addresses %}
                                <tr>
                                    {% set obj = c.user.address_object(a) %}
                                    <td>{{ lib.radio_button('primary_addr', None, a, c.user.preferences.email_address) }}</td>
                                    <td>{{ a }}</td>
                                    {% if obj %}
                                        <td>
                                            {% if obj.confirmed %}
                                                yes
                                            {% else %}
                                                no (<a class="email-verify-link" href="{{g.url('/auth/send_verification_link', a=a)}}">verify</a>) {% endif %}
                                        </td>
                                    {% else %}
                                        <td>Unknown addr obj {{ a }}</td>
                                    {% endif %}
                                    <td>{% if a != c.user.preferences.email_address %}{{ lib.submit_button('Delete', 'addr-%s.delete' % loop.index0) }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <p>
                    <label for="new_addr.addr">New Email Address:</label>
                    <input type="email" id="new_addr.addr" name="new_addr.addr" class="text" value="" tabindex="10">
                    {{ lib.submit_button('Claim Address', name='new_addr.claim') }}
                </p>

                {% if g.openid_enabled %}
                    <h3>OpenID</h3>
                    {% if c.user.open_ids %}
                        <h4>OpenIDs Claimed</h4>
                        <table>
                            <tr>
                                <th>OpenID</th>
                                <th></th>
                            </tr>
                            {% for oid in c.user.open_ids %}
                                {% set obj = c.user.openid_object(oid) %}
                                <tr>
                                    <td>{{ oid }}</td>
                                    <td>{{ lib.submit_button('Delete', 'oid-%s.delete' % loop.index0) }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    <p>
                        <a href="/auth/claim_oid">Claim New OpenID</a>
                    </p>
                {% endif %}

            <div class="form-controls">
                {{ lib.submit_button('Save Changes') }}
            </div>
        </fieldset>
    </form>
    {% endif %}

    <form id="delete_account_form" action="delete_account" method="POST">
        <fieldset class="vf-fieldset perilous">
            <legend>Region of Great Peril</legend>
                <div class="hidden">
                    <p class="error">Warning! You are about to delete your account!</p>
                    <p>If you are certain you would like to do this, confirm with your password:</p>
                    <input type="password" name="password">
                </div>
                <input id="delete_account" type="submit" value="Delete Account" title="Delete Account" name="submit">
                <input id="cancel_delete" class="hidden" type="reset"
                       value="Cancel" title="Cancel Account Deletion" name="reset" style="display: none">
        </fieldset>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    (function($) {
        var del_on = false,
            del_form = $("#delete_account_form");
        del_form.find('#delete_account').click(function() {
            if (!del_on){
                del_form.find('.hidden').slideDown();
                del_on = true;
                return false;
            } else {
                del_form.submit();
                return false;
            }
        });
        del_form.find("#cancel_delete").click(function() {
            del_form.find('.hidden').slideUp();
            del_on = false;
        });

        // public key drop target
        jQuery.event.props.push('dataTransfer');
        $(function () {
            if (FileReader) {
                var $key = $('#key');
                $key.
                    bind('dragexit dragover', function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                    }).
                    bind('drop', function (e) {
                        var reader = new FileReader(),
                            file = e.dataTransfer.files[0];
                        console.log(arguments);
                        e.preventDefault();
                        e.stopPropagation();
                        reader.addEventListener('load', function () {
                            $key.val(this.result);
                        });
                        reader.readAsBinaryString(file);
                    }).
                    after('<p>Either copy and paste your public key into the ' +
                    'text area or drag and drop the key file from your ' +
                    'computer onto the text area.</p>');
            }
            // TOTP confirmation test
            {% if two_factor_credential %}
            $(".dial").knob({
                'min': 0,
                'max': 30,
                'readOnly': true,
                'inputColor': "#777",
                'height': 50,
                'width': 50,
                'bgColor': "#777"
            });
            var prev_totp,
                current_totp,
                clock = 30,
                ok_color = "#6C6",
                alert = 10,
                alert_color = "#FF6",
                warn = 5,
                warn_color = "#FF2400",
                updateInterval = window.setInterval(function () {
                    $(document).
                        trigger("UpdateCheck");
                }, 1 * 1000);
            $(document).
            bind({
                "UpdateCheck": function () {
                    testXHR = $.ajax({
                        url: 'config_test',
                        success: function (resp) {
                            if (resp.status == "success") {
                                current_totp = resp.now;
                                var color = ok_color;
                                if (!prev_totp || prev_totp != current_totp) {
                                    prev_totp = current_totp;
                                    clock = resp.interval;
                                } else {
                                    clock -= 1;
                                    color = (clock <= alert && clock > warn) ? alert_color :
                                            (clock <= warn) ? warn_color : ok_color;
                                }
                                $('#code').html(current_totp);
                                $('.dial').trigger(
                                    'configure',
                                    {
                                        "max": resp.interval,
                                        "fgColor": color
                                    }
                                );
                                $('.dial')
                                    .val(clock)
                                    .trigger('change');
                            }
                        }
                    });
                }
            }).trigger('UpdateCheck');
            {% endif %}
        });
    }(jQuery));
</script>
{% endblock %}
