<p>Hello {{user}},</p>
<p>
An attempt is being made to log in to your {{forge_name}} account
from an unfamiliar IP address: {{ip}}.
</p>
<p>If you approve this access, enter the code below when requested during login.</p>
<p>
<table style="width:100%">
<tr><td align="center" style="font-weight:bold;font-size:24px">{{nonce}}</td></tr>
</table>
</p>
<p>
If this access is not by you, we strongly recommend that you
<b>immediately change your login credentials</b> and
report this attempted access to your administrative point of contact.
</p>
<p>The {{forge_name}} Team</p>
