@import "css/init.scss";

#main-column td.topic > h3 {
    margin-top: 0;
    padding-top: 0;
}

.sticky::before {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 3px;
}

.sticky {
    opacity: .5;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
    top: -3px;
    float: right;
}