$icon-font-family: "ForgeIconicFill";

@font-face {
    font-family: $icon-font-family;
    src: local("ForgeIconicFill"), url("../fonts/forge_iconic_fill.svg#iconic") format("svg"), url("../fonts/forge_iconic_fill.otf") format("opentype");
}

.inline-icon {
    display: inline;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    margin: 0 2px;
    line-height: 1em;

    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;

    @include create_transition(color, $icon-color-transition-duration);
}

.toolbar-icon {
    display: inline-block;
    min-width: 22px;
    min-height: 22px;
    font-size: 22px;
    line-height: 22px;
    font-family: $icon-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.toolbar-icon:before {
}

$icon-button-width = $icon-button-size+10px;
$content-actions-icon-button-width = $content-actions-icon-button-size+4px;

a.icon, a.icon:link, a.icon:visited {
    width: $icon-button-width;
    height: $icon-button-width;
    color: $icon-button-color;
    border: 2px solid $icon-button-color;
    border-radius: $icon-button-width/2;
    text-align: center;
    vertical-align: top;
    font-size: $icon-button-size;
    line-height: $icon-button-size+4px;
}

a.icon:hover, a.icon:active {
    color: $icon-button-hover-color;
    border-color: $icon-button-hover-color;
}

.item-actions,
.content-actions,
.attachment {
     a.icon,
     a.icon:link,
     a.icon:visited {
        border: none;
        color: $content-actions-icon-button-color;
        font-size: $content-actions-icon-button-size;
        width: $content-actions-icon-button-width;
        height: $content-actions-icon-button-width;
        border-radius: 0;
        margin: 0 1px;
    }
}

.item-actions,
.content-actions {
     a.icon,
     a.icon:link,
     a.icon:visited {
        vertical-align: middle;
    }
}

.attachment {
     a.icon,
     a.icon:link,
     a.icon:visited {
        vertical-align: top;
    }
}

.item-actions,
.content-actions,
.attachment  {

    a.icon:hover,
    a.icon:active {
        color: $icon-button-hover-color;
        border: none;
    }
}


.icon::before,
.basic-icon::before,
.inline-icon:before,
.action-icon::before
{
    font-family: $icon-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.inline-icon:before {
    margin-right: 1ex;
}
.inline-icon:before:last-child {
    margin-right: 0;
}

.has-icon:before {
    font-family: $icon-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1em;
    margin: 0 4px 0 0;

    @include create_transition(color, $icon-color-transition-duration);
}

.large-icon::before
{
    margin: 0 0.5ex;
    font-size: 2em;
    vertical-align: top;
}

.action-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 1em;
}


.has-icon-after:after {
    font-family: $icon-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1em;
    margin: 0 0 0 4px;
    position: relative;
    top: -1px;

    @include create_transition(color, $icon-color-transition-duration);
}


.ico-hash:before {content:"\23";}

.ico-question_mark {content:"\3f";}

.ico-at:before {content:"\40";}
.ico-pilcrow:before {content:"\b6";}

.ico-help:before,
.ico-info:before {content:"\2139";}

.ico-arrow_left:before {content:"\2190";}
.ico-arrow_up:before {content:"\2191";}
.ico-arrow_right:before {content:"\2192";}
.ico-arrow_down:before {content:"\2193";}
.ico-home:before {content:"\2302";}
.ico-sun_fill:before {content:"\2600";}
.ico-cloud:before {content:"\2601";}
.ico-umbrella:before {content:"\2602";}
.ico-star:before {content:"\2605";}
.ico-moon_fill:before {content:"\263e";}
.ico-heart_fill:before {content:"\2764";}
.ico-cog:before {content:"\2699";}
.ico-bolt:before {content:"\26a1";}
.ico-key_fill:before {content:"\26bf";}
.ico-rain:before {content:"\26c6";}
.ico-denied:before {content:"\26d4";}

.ico-subscribe:before,
.ico-unsubscribe:before,
.ico-mail:before {
    content:"\2709";
    position: relative;
    font-size: 1.1em;
}

.ico-moderate:before,
.ico-edit:before,
.ico-pen:before {content:"\270e";}

.ico-check:before {content:"\2713";}
.ico-check_alt:before {content:"\2718";}

.ico-cancel:before,
.ico-x:before {content:"\2717";}

.ico-close:before,
.ico-x_alt:before {content:"\2714";}

.ico-left_quote:before {content:"\275d";}
.ico-right_quote:before {content:"\275e";}
.ico-plus:before {content:"\2795";}
.ico-minus:before {content:"\2796";}
.ico-curved_arrow:before {content:"\2935";}
.ico-document_alt_fill:before {content:"\e000";}
.ico-calendar:before {content:"\e001";}
.ico-map_pin_alt:before {content:"\e002";}
.ico-comment_alt1_fill:before {content:"\e003";}
.ico-comment_alt2_fill:before {content:"\e004";}
.ico-pen_alt_fill:before {content:"\e005";}
.ico-pen_alt2:before {content:"\e006";}
.ico-chat_alt_fill:before {content:"\e007";}
.ico-paperclip:before {content:"\e08a";}

.ico-add-attachment:before,
.ico-add::before,
.ico-added::before,
.ico-plus_alt:before {content:"\e008";}

.ico-removed::before,
.ico-minus_alt:before {content:"\e009";}

.ico-changed:before {content:"\e064"}
.ico-copied:before {content:"\e059"}

.ico-bars_alt:before {content:"\e00a";}
.ico-book_alt:before {content:"\e00b";}
.ico-aperture_alt:before {content:"\e00c";}
.ico-beaker_alt:before {content:"\e010";}
.ico-left_quote_alt:before {content:"\e011";}
.ico-right_quote_alt:before {content:"\e012";}
.ico-arrow_left_alt1:before {content:"\e013";}
.ico-arrow_up_alt1:before {content:"\e014";}
.ico-arrow_right_alt1:before {content:"\e015";}
.ico-arrow_right_alt1-after:after {
    content:"\e015";
    font-size: 1.5em;
    position: relative;
    top: .15em;
}
.ico-arrow_down_alt1:before {content:"\e016";}
.ico-arrow_left_alt2:before {content:"\e017";}
.ico-arrow_up_alt2:before {content:"\e018";}
.ico-arrow_right_alt2:before {content:"\e019";}
.ico-arrow_down_alt2:before {content:"\e01a";}
.ico-brush:before {content:"\e01b";}
.ico-brush_alt:before {content:"\e01c";}
.ico-eyedropper:before {content:"\e01e";}
.ico-layers:before {content:"\e01f";}
.ico-layers_alt:before {content:"\e020";}
.ico-compass:before {content:"\e021";}
.ico-award_fill:before {content:"\e022";}
.ico-beaker:before {content:"\e023";}
.ico-steering_wheel:before {content:"\e024";}
.ico-eye:before {content:"\e025";}
.ico-aperture:before {content:"\e026";}
.ico-image:before {content:"\e027";}
.ico-chart:before {content:"\e028";}
.ico-chart_alt:before {content:"\e029";}

.ico-browse:before,
.ico-target:before {
    content:"\e02a";
    position:relative;
    top: 0;
}

.ico-tag:before,
.ico-tag_fill:before {content:"\e02b";}

.ico-tag:before {
    font-size: 1.1em;
}

.ico-rss:before {content:"\e02c";}
.ico-feed:before {content:"\e02d";}

.ico-rss_alt:before {
    content:"\e02d";
    font-size: .9em;
}

.ico-share:before {content:"\e02e";}

.ico-undelete:before,
.ico-undo:before {content:"\e02f";}

.ico-reload:before {content:"\e030";}
.ico-reload_alt:before {content:"\e031";}
.ico-loop_alt1:before {content:"\e032";}
.ico-loop_alt2:before {content:"\e033";}
.ico-loop_alt3:before {content:"\e034";}
.ico-loop_alt4:before {content:"\e035";}
.ico-spin:before {content:"\e036";}
.ico-spin_alt:before {content:"\e037";}
.ico-move_horizontal:before {content:"\e038";}
.ico-move_horizontal_alt1:before {content:"\e039";}
.ico-move_horizontal_alt2:before {content:"\e03a";}
.ico-move_vertical:before {content:"\e03b";}
.ico-move_vertical_alt1:before {content:"\e03c";}
.ico-move_vertical_alt2:before {content:"\e03d";}
.ico-move:before {content:"\e03e";}
.ico-move_alt1:before {content:"\e03f";}
.ico-move_alt2:before {content:"\e040";}
.ico-transfer:before {content:"\e041";}
.ico-download:before {content:"\e042";}
.ico-upload:before {content:"\e043";}
.ico-cloud_download:before {content:"\e044";}
.ico-cloud_upload:before {content:"\e045";}
.ico-fork:before {content:"\e046";}

.ico-play:before {
    content:"\e047";
    font-size: .7em;
    position: relative;
}
.ico-play_up:before {
    content:"\25b2";
    font-size: .7em;
    position: relative;
}
.ico-play_down:before {
    content:"\25bc";
    font-size: .7em;
    position: relative;
}


.ico-preview:before,
.ico-play_alt:before {
    content:"\e048";
    font-size: 1.1em;
}

.ico-pause:before {content:"\e049";}
.ico-stop:before {content:"\e04a";}
.ico-eject:before {content:"\e04b";}
.ico-first:before {content:"\e04c";}
.ico-last:before {content:"\e04d";}
.ico-next:before {content:"\2192";}
.ico-prev:before,
.ico-previous:before {content:"\2190";}
.ico-fullscreen:before {content:"\e04e";}
.ico-fullscreen_alt:before {content:"\e04f";}
.ico-fullscreen_exit:before {content:"\e050";}
.ico-fullscreen_exit_alt:before {content:"\e051";}
.ico-equalizer:before {content:"\e052";}
.ico-article:before {content:"\e053";}
.ico-read_more:before {content:"\e054";}
.ico-list:before {content:"\e055";}

.ico-more_options:before,
.ico-tree:before,
.ico-list_nested:before {content:"\e056";}

.ico-cursor:before {content:"\e057";}
.ico-dial:before {content:"\e058";}
.ico-new_window:before {
    content:"\e059";
    font-size: 1.2em;
}

.ico-delete:before,
.ico-trash_fill:before {content:"\e05a";}

.ico-battery_half:before {content:"\e05b";}
.ico-battery_empty:before {content:"\e05c";}
.ico-battery_charging:before {content:"\e05d";}

.ico-reply:before,
.ico-chat:before {content:"\e05e";}

.ico-mic:before {content:"\e05f";}
.ico-movie:before {content:"\e060";}
.ico-headphones:before {content:"\e061";}
.ico-user:before {content:"\e062";}

.ico-lightbulb:before {content:"\e063";}

.ico-cd:before {content:"\e064";}
.ico-folder_fill:before {content:"\e065";}
.ico-document_fill:before {content:"\e066";}
.ico-pin:before {content:"\e067";}
.ico-map_pin_fill:before {content:"\e068";}
.ico-bookmark:before {content:"\e069";}
.ico-book:before {content:"\e069";}
.ico-book_alt2:before {content:"\e06a";}
.ico-box:before {content:"\e06b";}
.ico-calendar_alt_fill:before {content:"\e06c";}
.ico-comment_fill:before {content:"\e06d";}
.ico-iphone:before {content:"\e06e";}
.ico-bars:before {content:"\e06f";}
.ico-camera:before {content:"\e070";}
.ico-volume_mute:before {content:"\e071";}
.ico-volume:before {content:"\e072";}
.ico-battery_full:before {content:"\e073";}
.ico-magnifying_glass:before {content:"\e074";}
.ico-lock_fill:before {content:"\e075";}
.ico-unlock_fill:before {content:"\e076";}
.ico-link_icon:before {content:"\e077";}
.ico-admin::before,
.ico-settings:before,
.ico-wrench:before {content:"\e078";}

.ico-history:before,
.ico-clock:before {content:"\e079";}
.ico-history:before {font-size: 1.1em;}
.ico-activity:before { content:"\e07c";}

#sidebarmenu-item-activity-feed .has-icon:before {
    font-size: 1.4em;
    position: relative;
    top: 0.15em;
}

#sidebarmenu-item-conversations .has-icon:before {
    font-size: 1.4em;
    position: relative;
    top: 0.1em;
}

.ico-inbox:before {content:"\e007";}
.ico-logout:before,
.ico-exit:before {content:"\e07d";}

/* sizes */

.x16 {
    font-size: 16px;
    width: 16px;
    height: 16px;
}

.x24 {
    font-size: 24px;
    width: 24px;
    height: 24px;
}

.x32 {
    font-size: 32px;
    width: 32px;
    height: 32px;
}

.x48 {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

.x64 {
    font-size: 64px;
    width: 64px;
    height: 64px;
}

img.x16,
img.x24,
img.x32,
img.x48,
img.x64
{
    font-size: inherit;
}
