body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  @extend .normal-font;
  @include body-skin;
}

/* Generic style modifier classes */

.bbs {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.horizontal-stretching {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
}

@mixin box-flex($v) {
  -webkit-box-flex: $v;
  -moz-box-flex: $v;
  box-flex: $v;
}

.hidden {
  display: none;
}

.nowrap{
    white-space: nowrap;
}

.fleft {
    float: left;
    margin-left: 2 * $pu;
}

.fright {
    float: right;
    margin-left: 2 * $pu;
}

.inline-block {
  display: inline-block;
}

#bottom-bg-container {
    z-index: bottom-bg-container-z-index;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#content-areas-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  padding-bottom: $footer-height;
  padding-top: $header-wrapper-height;
  z-index: $content-areas-wrapper-z-index;

  @extend .bbs;
}

body.authenticated #content-areas-wrapper {
  padding-top: $header-wrapper-height + $forge-toolbar-height;
}

/* Side toolbars */

.toolbar {
  position: fixed;
  top: $header-wrapper-height;
  bottom: $footer-height;
}

.toolbar-upper,
.toolbar-lower {
    position: absolute;
    left: 0;
    right: 0;
    z-index: $panel-above-content-z-index;
}

.toolbar-upper {
    top: 0;
}

.toolbar-lower {
    bottom: 0;
}

#left-toolbar {
  left: 0px;
  z-index: $left-toolbar-z-index;
  width: $left-toolbar-min-width;

  @include left-toolbar-skin;

  @extend .toolbar;
  @extend .bbs;
}

body.has-project-toolbar #left-toolbar {
  width: $project-toolbar-item-width;
}

#right-toolbar {
  right: 0px;
  width: $right-toolbar-width;
  z-index: $right-toolbar-z-index;

  @include right-toolbar-skin;

  @extend .toolbar;
  @extend .bbs;
}


#sidebar {
  width: $sidebar-width;

  @extend .bbs;

  position: fixed;

  height: 100%;
  top: 0;
  right: $right-toolbar-width;

  @include sidebar-skin;

  z-index: $sidebar-z-index;

  overflow-y: auto;

  padding-top: $header-wrapper-height + $main-column-header-height - 1px;
}

body.authenticated #sidebar {
  padding-top: $header-wrapper-height + $main-column-header-height + $forge-toolbar-height - 1px;
}

body.has-related-artifacts #sidebar {
  padding-top: $header-wrapper-height + $main-column-header-height + $related-artifacts-height;
}

body.authenticated.has-related-artifacts #sidebar {
  padding-top: $header-wrapper-height + $main-column-header-height + $forge-toolbar-height + $related-artifacts-height;
}

/* Content areas */

#main-content-holder {
  margin-right: $right-toolbar-width;
  margin-bottom: $footer-height;
  margin-left: $left-toolbar-min-width;
  padding: 0;
  height: 100%;

  @extend .bbs;
}

body.has-project-toolbar #main-content-holder {
  margin-left: $project-toolbar-item-width;
}

body.authenticated .toolbar {
  top: $header-wrapper-height + $forge-toolbar-height;
}

#content-columns {
  position: relative;
  z-index: $content-columns-z-index;
  min-height: 100%;
  width: 100%;
  min-width: $main-column-min-width + $sidebar-width;
  padding: $main-column-header-height 0 $footer-height 0;

  background-color: $content-background-color;

  @extend .bbs;
}

body.has-related-artifacts #content-columns {
    padding-top: $main-column-header-height + $related-artifacts-height;
}

#main-column {
  min-width: $main-column-min-width;
  background: $content-background-color;
  overflow: auto;
}

body.has-sidebar #main-column {
  padding-right: $sidebar-width;
}

.float-33 {
  float: left;
  width: 33%;
}

.float-66 {
  float: left;
  width: 66%;
}

.float-25 {
  float: left;
  width: 25%;
}

.float-50 {
  float: left;
  width: 50%;
}

.float-75 {
  float: left;
  width: 75%;
}

.well {
    background: rgba(0,0,0,0.03);
    box-shadow: inset 0 0 1em rgba(0,0,0,0.05);
    border-radius: 3px;
}

.padded-block {
    padding: 1ex 1em;
}

.margin-block {
    margin: 1ex;
}

.vf-dl {
    padding: 1ex 0;
}
.vf-dl dt {
    margin: 1ex;
    font-weight: bold;
    color: #666;
}
.vf-dl dd {
    margin: 0.5ex 1ex 0.5ex 2em;
}

body.fullscreen-vis {
  #left-toolbar,
  #right-toolbar,
  .toolbar {
    top: 36px;
  }
}

.vf-well {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: rgba(0,0,0,0.03);
    box-shadow: inset 0 0 1em rgba(0,0,0,0.05);
}
