// VERY SPECIFIC FONT SIZES USED HERE
// all relative to the the core font-size
body[data-pagetype='WIKI'] #main-content-holder .markdown_include > .markdown_content {
    padding: 0;
    margin: 1.2rem 0;
}
.markdown_content {
    margin: 0;
    padding: 0 1.2rem;
    font-size: 1em; // <-- OK to change
    line-height: 1.2rem;
    color: #202020;
    overflow: auto;

    h1, h2, h3, h4, h5, h6,
    p,
    ul, ol,
    hr,
    blockquote, table, .codehilite
    {
        margin: 1.2rem 0;
    }
    h1, h2, h3, h4, h5, h6
    {
        height: auto;
        line-height: 1em;
        margin: 1.2rem 0;
        border: none;
        text-transform: none;
        font-weight: bold;
        color: #404040;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        vertical-align: baseline;
    }
    h1 {
        font-size: 2rem;
        margin-top: 1.6rem;
    }
    h2 {
        font-size: 1.6rem;
        margin-top: 2.2rem;
    }
    h3 {
        font-size: 1.28rem;
        margin-top: 1.12rem;
    }
    h4 {
        font-size: 1rem;
        margin-top: 1.4rem;
    }
    h5 {
        font-size: 0.8rem;
        margin-top: 1.6rem;
    }
    h6 {
        font-size: 0.64rem;
        margin-top: 1.76rem;
    }

    h1[id]::before, h2[id]::before, h3[id]::before, h4[id]::before,
    h5[id]::before, h6[id]::before {
        content: "";
        display: block;
        height: 156px;
        margin-top: -156px;
    }

    ol, ul {
        padding-left: 2.4rem;
    }
    li > ol,
    li > ul {
        margin: 0;
        padding-left: 1.2rem;
    }

    hr {
        margin: 2.4rem 0;
        border: 0;
        height: 1px;
        background: #e8e8e8;
    }

    blockquote {
        position: relative;
        overflow: auto;
        padding: 0 1.2rem;
        margin: 0 0 0 1.2rem;
        background: rgba(0,0,0,0.03);
        border: 1px solid rgba(0,0,0,0.02);
    }

    table {
        border-collapse: collapse;
        td, th {
            padding: 0.6rem 1.2rem;
            line-height: 1.2rem;
        }
        th {
            background: #dcdcdc;
        }
        td {
            background: #ececec;
        }
        tr:nth-child(odd) td {
            background: #f4f4f4;
        }
    }

    pre {
        padding: 1.2rem;
        background-color: #eee;
        color: #333;
        border: 1px solid #e0e0e0;
    }

    .toc {
        position: relative;
        z-index: 3;
        float: right;
        margin: 0 0 0 1.2rem;
        padding: 1.2rem;
        background: #f8f8f8;
        border: 2px solid white;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li > ul {
            padding-left: 1rem;
        }
    }
    .toctitle {
        display: block;
        margin: 0 0 1em 0;
        color: #aaa;
    }
    .toclink {
        color: inherit;
    }

    h1, h2, h3, h4, h5, h6,
    p,
    ul, ol,
    hr,
    blockquote, center {
        max-width: 1000px;
    }

    img {
        max-width: 100%;
    }
}

.markdown-edit {
    position: relative;
    padding: 0;
    border: 0;
    background: transparent;
    margin-bottom: 2*$pu;
}

.markdown-tabs {
    display: none;
}

.markdown-edit textarea{
    display: block;
    min-height: 200px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-family: Consolas, "Andale Mono", "Lucida Console", monospace;
    border-radius: 1em 1em 0 0;
    margin: 0;
    padding: 5px;

    resize: vertical;

    @extend .bbs;
}

.markdown-edit.wiki-markdown textarea {
    min-height: 400px;
}

.markdown-button-bar {
    position: relative;
}

.markdown-preview {
    position: relative;
    border: 2px dotted $border-color;
    padding: 0;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 0 0 1em 1em;
    height: 100%;
    min-height: 200px;
    overflow: visible;
    box-sizing: border-box;
}
.markdown-preview::before {
    content: "preview";
    position: absolute;
    top: 0;
    right: 1ex;
    color: rgba(0,0,0,0.1);
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}

.icon.close {
    cursor: pointer;
    float: right;
}

.markdown-edit .ui-tabs-panel {
    padding: 0;
    border: 0;
    min-height: 200px;
}

.markdown-help-button-container {
    position: absolute;
    z-index: 1;
    top: 3px;
    right: 0;
    padding: 0;
}

.markdown-preview,
.markdown-add-attachment {
    padding: 0;
    width: 100%;
}

.md-read-more {
    position: relative;
    margin: 1.8rem 1.2rem;
    padding: 0 1.2rem;
    background: rgba(0,127,255, 0.04);
    border: 1px solid rgba(0,127,255, 0.05);
}
.md-read-more-show {
    display: block;
    margin: 1.2rem;
    color: rgba(0,0,0,0.5);
}
.md-read-more-hide {
    position: absolute;
    top: -0.6rem;
    left: -0.6rem;
}
.md-read-more-hide::before {
    font-size: 2em;
}

.md-read-more.hidden,
.md-read-more-show.hidden,
.md-read-more-hide.hidden {
    display: none;
}

/* pagedown */
.wmd-panel
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 500px;
}

.wmd-button-bar
{
	width: 100%;
	background-color: Silver;
}

.wmd-input
{
	height: 300px;
	width: 100%;
	background-color: Gainsboro;
	border: 1px solid DarkGray;
}

.wmd-button-row
{
	position: relative;
	padding-bottom: 5px;
	padding-top: 5px;
    margin: 0;
    background-color: #fff;
	height: 20px;
    width: 360px;
}

.wmd-spacer
{
	width: 1px;
	height: 20px;
	margin-left: 14px;
	position: absolute;
	background-color: Silver;
	display: inline-block;
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../images/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 195px;
}
.wmd-spacer3
{
    left: 320px;
}

.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

.markdown-img-add-btn-row {
    margin: 12px 0 0;
    padding: 0;
}

.markdown-attachment-img-thumbnail {
    display: inline-block;
    vertical-align: middle;
    max-height: 2em;
}



.markdownPlaceholder {
    @include linearGradient2(top, #999, #555);
    height: 200px;
    color: #fff;
    padding: 2px 15px;
}

.markdownPlaceholder p {
    max-width: none;
}

.markdownPlaceholder a {
    text-decoration: underline;
    color: #fff;
}

.markdownPlaceholder.oembedPlaceholder {
    width: 459px;
    height: 344px;
}

.edit-post {
    .wmd-button-row {
        background: #fff;
        border: 1px solid #ccc;
        border-bottom: 0;
    }
    .markdown-edit textarea {
        border-radius: 0 1em 0 0;
    }
}


@media (min-width: 1600px) {
    .markdown-edit {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row;
    }

    .markdown-edit textarea {
        display: block;
        position: absolute;
        z-index: 1;
        top: 31px;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 400px;
        border-radius: 1em 0 0 1em;
        resize: none;
    }

    .markdown-edit-editor-container {
        position: relative;
        box-sizing: border-box;
        width: 40%;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 40%;
        flex: 1 1 40%;
        border: 0px solid transparent;
        border-right-width: 1em;
    }

    .markdown-preview {
        box-sizing: border-box;
        width: 60%;
        min-height: 400px;
        margin: 30px 0 0 0;
        padding: 1em 1ex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 60%;
        flex: 1 1 60%;
        border-radius: 0 1em 1em 0;
    }

    .markdown-button-bar {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .post-markdown {
        .markdown-preview,
        textarea {
            min-height: 200px;
        }
    }

    .edit-post {
        .markdown-edit textarea {
            border-radius: 0 0 0 1em;
        }
    }
}


@media print {
    .markdown_content .toc {
        float: none;
        margin: 2rem 0;
        padding: 1rem;
        border: 1px solid #eee;
    }

    .markdown_content table {
        border: 1px solid black;
    }
    .markdown_content th {
        border: 1px solid black;
    }
    .markdown_content td {
        border: 1px solid black;
    }

    .md-read-more {
        margin: 2.4rem;
        border: 2px solid #eee;
    }
    .md-read-more.hidden {
        display: block;
    }
    .md-read-more-show,
    .md-read-more-hide {
        display: none;
    }

}
