.modal {
    display: block;
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 10001;
    min-height: 200px;
    width: 700px;
    margin: 0 0 0 -312px;
    padding: 40px;
    color: #fff;
    text-shadow: 0 0.1em 0.3em rgba(0,0,0,0.5);
    overflow: auto;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background-color: #555555;
    background-image: -ms-linear-gradient(top, #666, #555);
    background-image: -o-linear-gradient(top, #666, #555);
    background-image: -moz-linear-gradient(top, #666, #555);
    background-image: -webkit-linear-gradient(top, #666, #555);
    background-image: linear-gradient(top, #666, #555);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 0 3em rgba(0, 0, 0, 0.2), 0 1ex 2em rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 0 3em rgba(0, 0, 0, 0.2), 0 1ex 2em rgba(0, 0, 0, 0.9);
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 0 3em rgba(0, 0, 0, 0.2), 0 1ex 2em rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 0 3em rgba(0, 0, 0, 0.2), 0 1ex 2em rgba(0, 0, 0, 0.9);
}

.modal hr {
    border: 1px solid #000;
    background-color: #111;
    opacity: .4;
    height: 2px;
    clear: both;
}

.modal h1, .modal h2, .modal h3 {
    display: block;
    margin: 1em 0;
    height: 24px;
    color: #fff;
}

.modal h1:first-child, .modal h2:first-child, .modal h3:first-child {
    margin-top: 0;
}

.modal img {
    height: 335px;
    width: 542px;
    margin: 0 auto 10px;
}

.modal a {
    color: #fff;
    text-decoration: underline;
}

.modal a:hover {
    color: #fff;
    text-decoration: none;
}

.modal .codehilite {
    background-color: #777;
}

.modal label {
    text-align: left;
    color: inherit;
    font-size: inherit;
    vertical-align: baseline;
}

.modal table {
    box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
}

.modal table th {
    background-color: #444;
    text-shadow: 0 1px 2px black;
}

.modal .icon:hover,
.modal .icon:active {
    color: $icon-button-hover-color;
}

.modal .lightbox_controls {
    position: absolute;
    top: 1em;
    right: 1em;
}
