/* PleaseWait and Click Condom */
.please-wait {
    background-color: white;
    width: 100%;
    position: absolute;
    min-width: 150px;
    min-height: 120px;
    background-image: url(../images/pleasewait_bg.png);
    background-position: center center;
    z-index: 200000;
    cursor: progress;
}

.please-wait-spinner {
    background-image: url(../images/PleaseWait.gif);
    background-repeat: no-repeat;
    background-position: center center;
    width: 66px;
    height: 66px;
    position: absolute;
}

.please-wait-message {
    font-size: 11px;
    text-align: center;
    color: $pleae-wait-message-color;
    font-weight: normal;
    text-transform: uppercase;
}

.click-condom {
    position: absolute;
    background-image: url(../images/cc_bg.png);
    z-index: $click-condom-z-index;
}

.waiting-on-something {
    background-image: url(../images/PleaseWait.gif);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 66px;
    min-height: 66px;
    width: 100%;
    height: 100%;
    opacity: .6;
}
