table {
    font-size: inherit;
}

table.content-table {
    width: 100%;
}

table thead tr th, table tr td {
    padding: 3px 6px;
}

table th {
    background-color: #e5e5e5;
    text-align: left;
    text-shadow: 0 1px 0 #FFFFFF;
}

table th, table td, table caption {
    vertical-align: middle;
}

.vf-table {
    margin: 2em 0;
    width: 100%;
    box-shadow: inset 0 0 1em rgba(0,0,0,0.05);
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 3px;
}
.vf-table caption {
    background: #808080;
    margin: 0 0 1px 0;
    padding: 1ex 1em;
    font-size: 1em;
    color: white;
    letter-spacing: 0.2em;
    border-radius: 1ex 1ex 0 0;
}
.vf-table th,
.vf-table td {
    padding: 0.5ex;
}
.vf-table thead td,
.vf-table thead th {
    background: none;
    text-align: center;
}
.vf-table.vf-table-spacious td,
.vf-table.vf-table-spacious th,
.vf-table.vf-table-spacious thead td,
.vf-table.vf-table-spacious thead th {
    padding: 1em;
}
.vf-table thead {
    background: rgba(0,0,0,0.125);
}
.vf-table tbody {
    background: rgba(0,0,0,0.01);
}
.vf-table tbody th {
    background: rgba(0,0,0,0.05);
}
.vf-table tbody td {
    background: transparent;
}
.vf-table tbody tr:nth-child(odd) {
    background: rgba(0,0,0,0.02);
}
.vf-table tbody tr:hover {
    background: #ebeff6;
}
.vf-table tbody tr.no-hover {
  background-color: transparent;
}

.vf-table .vf-table tbody tr:hover {
    background: rgba(255,255,255,0.4);
}


.item-actions {
    margin: 0 $pu;
    font-size: 0;
    vertical-align: middle;
    text-align: left
}

table.hover-rows tr:hover {
    background-color: $table-row-hover-color;
}

table.hover-rows tr.no-hover {
    background-color: transparent;
}
