.toolbar-container {
    display: -webkit-flex;
    display: flex;
}

.toolbar-item {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
}

.toolbar-item.toolbar-item-stretchy {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.toolbar-item.toolbar-item-margin {
    margin: 8px;
}

.toolbar-item-counter {
    position: absolute;
    top: -0.5ex;
    right: -0.5ex;
    display: block;
    padding: 1px 2px;
    font-size: 10px;
    line-height: 10px;
    background-color: #aaa;
    color: #333;
    box-shadow: 0 0 3px black;
    text-align: center;
}
