.normal-font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.2em;
    text-rendering: optimizeLegibility;
}

.text-centered {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
