<!DOCTYPE html>
{% import 'vulcanforge.common:templates/master/lib.html' as lib with context %}
{% import g.templates['macros'] as theme_macros with context %}

{% do g.resource_manager.register_js('js/lib/jquery/jquery.1.7.2.min.js', scope='forge') %}
{% do g.resource_manager.register_js('js/lib/jquery/jquery-ui.1.8.19.min.js', scope='forge') %}

{% do g.resource_manager.register_css('css/core.scss') %}
{% do g.resource_manager.register_css('css/hilite.css') %}
{% do g.resource_manager.register_css('theme/css/theme.scss') %}

<html lang="en">
    <head>
        {% for blob in g.resource_manager.emit('css') %}
        {{ blob }}
        {% endfor %}
        {% block more_head %}
        {% endblock %}
    </head>
    <body style="background-color:#fff;background-image: none;">
    {% block content %}
    {% endblock %}
    {% for blob in g.resource_manager.emit('js') %}
    {{ blob }}
    {% endfor %}
    {% block extra_js %}{% endblock %}
    </body>
</html>