{% if not force_display %}
<div class="padded">
    <h3><b>{{h.really_unicode(blob.name)}}</b> is not known to be visualizable by the forge.</h3>
    <p>You may
    {{ g.button_widget.display(action="window.location.href='?force=True';", label="View as text") }} or
    {{ g.button_widget.display(action="window.location.href='"+value.raw_url()+"';", label="Download the file", icon="ico-download") }} instead.</p>

</div>
{% else %}
<div class="padded">
    <div>
        <h3>Contents of <b>{{h.really_unicode(blob.name)}}</b><span style="float:right">{{ g.button_widget.display(action="window.location.href='?format=raw';", label="Download this file", icon="ico-download") }}</span></h3>
        {{g.highlight(blob.read(), filename=blob.name)}}
    </div>
</div>
{% endif %}