{% extends 'vulcanforge.visualize:templates/widgets/iframecontent.html' %}

{% block content %}
    <div class="cad_content">
        <canvas id="cad_resource">
            If you're seeing this your web browser doesn't support the
            &lt;canvas>&gt; element. Why?!?
        </canvas>
        <form name="controls" onsubmit="return false;">
            <input type="radio" name="mode" value="rotate" onchange="mode_change('rotate')"
                   checked>Rotate
            <input type="radio" name="mode" value="pan" onchange="mode_change('pan')">Pan
            <br>
            Zoom: <input name="zoom" type="text" value="1.0" >
            <input type="button" value="update" onClick='zoom_view(this);'>
            <input type="button" value="+" onClick='zoom_in(this);'>
            <input type="button" value="-" onClick='zoom_out(this);'><br>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">

        var viewer,
            requested = false,
            delay = 5000,
            altRest = getParameterByName('altRest'),
            canvasE = document.getElementById('cad_resource'),
            context = "ondemand",
            contentE = $('div.cad_content'),
            width = $(document).width() - 15,
            height = $(document).height();

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if(results == null)
                return "";
            else
                return decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        function visualize_resource(url) {
            var doc, shell, builder, shellE;
            $(canvasE).width(width);
            $(canvasE).height(height);

            viewer = new GeomView(canvasE, 'vshader', 'fshader');
            doc = load_document(url);
            shellE = doc.documentElement.getElementsByTagName('shell')[0];
            builder = new ShapeBuilder(doc.documentElement);
            shell = new Shell(builder, shellE.getAttribute("id"));
            viewer.loadScenegraph(shell);
            viewer.draw();
        }

        function processing_error() {
            contentE.prepend(
                $('<span/>', {
                    id: "cad_warning",
                    class: "warning_text",
                    text: 'There was an error processing this file. It is unavailable for viewing within the FORGE'
                })
            );
        }

        function trigger_processing() {
            requested = true;
            $.ajax({
                url: altRest,
                type: "POST",
                dataType: 'json',
                data: {
                    context: context,
                    processor: "cad",
                    _session_id: $.cookie('_session_id')
                },
                success: function(response) {
                    if (response['success']) {
                        poll_alt_resource();
                    } else {
                        processing_error();
                    }
                }
            });
        }

        function poll_alt_resource() {
            $.ajax({
                url: altRest,
                type: "GET",
                dataType: 'json',
                data: {context: context},
                success: function(response) {
                    if (response['status'] === 'dne') {
                        if (requested){
                            processing_error();
                        } else {
                            trigger_processing();
                        }
                    } else if (response['status'] == 'loading') {
                        setTimeout(poll_alt_resource, delay);
                    } else if (response['url']) {
                        visualize_resource(response['url']);
                    } else {
                        processing_error();
                    }
                }
            })
        }

        function init() {
            poll_alt_resource();
        }

        init();


    </script>
{% endblock %}
