{% extends 'vulcanforge.visualize:templates/widgets/basecontent.html' %}

{% block content %}
<pre class="highlight embedded prettyprint"><code id="{{uid}}code"></code></pre>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    (function(global){
        "use strict";

        var $ = global.jQuery,
            VIS = global.VIS,
            codeContainer = $('#{{uid}}code');

        $(VIS).on("ready", function(){
            $.ajax({
                url: VIS.getResourceUrl(),
                dataType: "text",
                xhrFields: {
                    withCredentials: {% if with_credentials %}true{% else %}false{% endif %}
                },
                success: function(resp){
                    resp = $vf.xmlEscape(resp);
                    codeContainer.html(prettyPrintOne(resp, null, true));
                }
            });
        });

    }(window));
</script>
{% endblock %}